:host {
  pointer-events: none;
  height: 10%;
  position: absolute;
  top: -10px;
}

.sprite-container {
  animation: kf-blur-out 1s ease-in-out forwards;
}

.image-sprite {
  position: absolute;
  cursor: grab;
  pointer-events: all;

  animation: kf-offset-path-move forwards;
}

@keyframes kf-blur-out {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(10px);
  }
}

@keyframes kf-offset-path-move {
  0% {
    offset-distance: 0;
  }
  100% {
    offset-distance: 100%;
  }
}
