<svg class="orbit-line"
     xmlns="http://www.w3.org/2000/svg"
     [style.width.%]="worldViewScale * 2 * orbit.parameters.r"
     [style.height.%]="worldViewScale * 2 * orbit.parameters.r"
     [style.left.%]="worldViewScale * (orbit.parameters.xy[0] - orbit.parameters.r)"
     [style.top.%]="worldViewScale * (orbit.parameters.xy[1] - orbit.parameters.r)">
  <circle cx="50%"
          cy="50%"
          r="50%"
          [attr.stroke]="orbit.color + 'A0'"
          [attr.stroke-width]="3"
          fill="transparent" />
</svg>
