<div class="text subtitle">{{title}}</div>

<cp-planet-moon-selector
  [title]="null"
  [filter]="['moon', 'planet']"
  (update)="updatePlanet($event)"
></cp-planet-moon-selector>

<cp-input-number
  label="Ore Concentration"
  [min]="0.499"
  [max]="100"
  [factor]="4"
  suffix="%"
  [formControl]="controlOreConcentration"
></cp-input-number>

<cp-engineer-skill-selector
  [formControl]="controlEngineerBonus"
></cp-engineer-skill-selector>

<cp-resource-processors
  [converters]="converters$ | async"
  (update)="updateConverters($event)"
></cp-resource-processors>
