<div class="draggable-body overlap-container"
     [class.cursor-grab]="!spaceObject.isGrabbing"
     [style.left.px]="scale * spaceObject.location.x"
     [style.top.px]="scale * spaceObject.location.y"
     (mousedown)="dragSpaceObject.emit($event)"
     cpMousehover (hoverChange)="buttonHover$.next($event)">

  <ng-content></ng-content>

  <span class="label-space-object">{{spaceObject.label}}</span>

  <button class="edit-icon-space-object"
          mat-icon-button
          [@animateFade]
          *ngIf="buttonHover$ | async"
          (click)="editSpaceObject.next()"
          (mousedown)="$event.stopPropagation()">
    <mat-icon>edit</mat-icon>
  </button>

</div>
