<div
  class="draggable-body stack"
  [class.cursor-grab]="isIdle$ | async"
  [style.left.%]="normalizedScale * spaceObject.location.x"
  [style.top.%]="normalizedScale * spaceObject.location.y"
  (pointerdown)="dragSpaceObject.emit($event)"
  (touchstart)="$event.stopImmediatePropagation()"
  (mousedown)="$event.buttons.bitwiseIncludes(1) && $event.stopImmediatePropagation()"
  cpDoublePointerAction (doubleAction)="focusObject.emit($event)"
  cpMouseHover (hoverChange)="handleHover($event)"
>

  <ng-content></ng-content>

  @if (isIdle$ | async) {
    <span @fade class="label-space-object">{{ spaceObject.label }}</span>
  }

  @if (showEdit$ | async) {
    <button class="edit-button"
            mat-button
            @fade
            matTooltip="Edit"
            (click)="triggerEdit$.next(undefined)"
            (pointerdown)="$event.stopPropagation()">
      <mat-icon [svgIcon]="icons.Edit"></mat-icon>
    </button>
  }
</div>
