<div class="stack page-container">

  <cp-universe-map #universeMap
                   [allowEdit]="false"
                   (startDrag)="selectCheckpoint($event)">

    <cp-mission-journey aboveOrbits
                        #missionJourney
                        class="no-mouse"
                        [scale]="universeMap.camera.scale"
                        [checkpoints]="checkpoints$ | async"
                        [isAddingCheckpoint]="isSelectingCheckpoint$ | async">
    </cp-mission-journey>
  </cp-universe-map>
</div>
