<h1 mat-dialog-title>Do you want to support this?</h1>

<div mat-dialog-content class="layout">
  <span class="credits-explained">
    <p>Does this tool make your kerbals' lives easier, do you like using it and want to support me making this better?</p>

    <p>You can buy me a coffee with the big coffee button link below</p>

    <p>
      <a href="https://www.buymeacoffee.com/Blaarkies" (click)="logCoffeeEvent()">
        <button mat-stroked-button color="accent">
          <img src="assets/buy-me-a-coffee-logo.png"/>
        </button>
      </a>
    </p>

    <p>Thanks either way, I appreciate your visit</p>
  </span>
</div>

<div mat-dialog-actions>
  <button color="primary"
          mat-stroked-button
          [mat-dialog-close]>
    OK
  </button>
</div>
