<h1 mat-dialog-title>Account Settings</h1>

<div mat-dialog-content class="layout">
  <ng-container *ngIf="authService.user$ | async as user">
    <div class="name-and-logout-layout">
      <span>{{user.displayName}}</span>
      <button mat-flat-button
              color="warn"
              (click)="logout()">
        Logout
      </button>
    </div>

    <div>{{user.email}}</div>
    <div>{{user.uid}}</div>
  </ng-container>
</div>

<div mat-dialog-actions>
  <button color="primary"
          mat-stroked-button
          [mat-dialog-close]>
    OK
  </button>
</div>
