<div class="edge-layout overlap-container">

  <div class="simple-details">
    <div class="node-line">
      <ng-container *ngTemplateOutlet="line"></ng-container>
    </div>

    <button mat-button
            class="button-details"
            [class.is-selected]="isPanelOpen"
            (click)="toggleSidePanel()"
            (blur)="isPanelOpen = false">
      <div class="basic-details">
        <div>{{missionEdge.dv}}</div>
        <div>m/s</div>

        <div>{{missionEdge.twr}}</div>
        <div>TWR</div>
      </div>
    </button>

    <div class="node-line">
      <ng-container *ngTemplateOutlet="line"></ng-container>
    </div>
  </div>

  <div class="popout-details"
       [@animateSlidePanel]="isPanelOpen">
    <div class="step-layout">
      <ng-container *ngFor="let step of path">
        <div>{{step.cost}} m/s</div>
        <div>{{step.description}}</div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #line>
  <svg>
    <line stroke="#fffa" stroke-width="4" x1="0" y1="0" x2="0" y2="20"></line>
  </svg>
</ng-template>
