:host {
  display: grid;
  grid-auto-rows: max-content;
  gap: 10px;
}

.verify-button {
  text-align: center;
}

.button-loader {
  mat-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
