<cp-universe-map #universe
                 [orbits]="orbits$ | async"
                 [planets]="planets$ | async"
                 (editPlanet)="editPlanet($event)"
                 (update)="updateUniverse($event)">

  <ng-container aboveOrbits>
    <cp-antenna-signal [@fade]
                       *ngFor="let line of signals$ | async; trackBy: trackSignal"
                       [antennaSignal]="line"
                       [scale]="universe.camera.scale">
    </cp-antenna-signal>
  </ng-container>

  <ng-container abovePlanets>
    <cp-draggable-space-object [@fade]
                               *ngFor="let craft of crafts$ | async"
                               [spaceObject]="craft"
                               (dragSpaceObject)="universe.startBodyDrag(
                                   craft,
                                   $event,
                                   universe.backboard.nativeElement,
                                   universe.camera)"
                               (focusObject)="universe.focusBody(craft, $event)"
                               (editSpaceObject)="editCraft(craft)">
      <div class="craft-icon-sprite-image"
           draggable="false"
           [style.background]="craft.draggableHandle.imageUrl"
           [style.background-position-x.px]="craft.spriteLocation.x"
           [style.background-position-y.px]="craft.spriteLocation.y"
           [style.zoom]="craft.size * .025"></div>

      <div [@fade]
           *ngIf="craft.draggableHandle.isHover$ | async"
           class="altitude-text">
        {{craft.displayAltitude}}
      </div>
    </cp-draggable-space-object>
  </ng-container>

</cp-universe-map>

<cp-hud
  tooltip="This page handles CommNet calculations, click the green menu for others"
  [icon]="icons.Relay"
  [contextPanelDetails]="contextPanelDetails"
>
  <div top class="screen-border-margin">
    <cp-zoom-indicator class="no-mouse"></cp-zoom-indicator>
  </div>
  <cp-focus-jump-to-panel
    left
    [focusables]="focusables$ | async"
  ></cp-focus-jump-to-panel>
</cp-hud>
