<cp-universe-map #universe
                 [planetoids]="planetoids$ | async"
                 (editPlanetoid)="editPlanet($event)"
                 (update)="updateUniverse($event)">

  <ng-container aboveOrbits>
    <cp-antenna-signal @fade
                       *ngFor="let line of signals$ | async; trackBy: trackSignal"
                       [antennaSignal]="line"
                       [scale]="universe.camera.scale">
    </cp-antenna-signal>
  </ng-container>

  <ng-container abovePlanets>
    <cp-craft
      *ngFor="let craft of crafts$ | async"
      @fade
      [craft]="craft"
      (dragStart)="universe.startBodyDrag(craft,$event,
                   universe.backboard.nativeElement, universe.camera)"
      (focus)="universe.focusBody(craft, $event)"
      (edit)="editCraft(craft)"
    ></cp-craft>
  </ng-container>

</cp-universe-map>

<cp-hud
  tooltip="This page handles CommNet calculations, click the green menu for others"
  [icon]="icons.Relay"
  [contextPanelDetails]="contextPanelDetails"
>
  <cp-focus-jump-to-panel
    class="all-pointer"
    left
    [focusables]="focusables$ | async"
  ></cp-focus-jump-to-panel>
</cp-hud>
