<cp-universe-map #universe
                 [planetoids]="planetoids$ | async"
                 (editPlanetoid)="editPlanet($event)"
                 (update)="updateUniverse($event)">

  <ng-container aboveOrbits>
    @for (line of signals$ | async; track trackSignal) {
      <cp-antenna-signal
        @fade
        [antennaSignal]="line"
        [scale]="universe.camera.scale"
      />
    }
  </ng-container>

  <ng-container abovePlanets>
    @for (craft of crafts$ | async; track craft.id) {
      <cp-craft
        @fade
        [craft]="craft"
        (dragStart)="universe.startBodyDrag(craft, $event,
                   universe.backboard.nativeElement, universe.camera)"
        (focus)="universe.focusBody(craft, $event)"
        (edit)="editCraft(craft)"
      />
    }
  </ng-container>

</cp-universe-map>

<cp-hud
  tooltip="This page handles CommNet calculations, click the green menu for others"
  [icon]="icons.Relay"
  [contextPanelDetails]="contextPanelDetails"
>
  <div top class="screen-border-margin">
    <cp-zoom-indicator/>
  </div>

  <cp-focus-jump-to-panel
    class="all-pointer"
    left
    [focusables]="focusables$ | async"
  />
</cp-hud>
