<div
  class="hover-target"
  [ngClass]="isGood ? 'good' : 'bad'"
  [cpMouseHover]="700"
  (hoverChange)="updateHoverOrigin($event)"
  (pointerup)="updateHoverOrigin(true)"
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
>
  <div class="base-text">{{excess}}</div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayPositions]="positionConnection"
  [cdkConnectedOverlayOpen]="isOverlayOpen || isAnimating"
  (backdropClick)="clickedToClose()"
  (overlayOutsideClick)="clickedToClose()"
>
  <div class="mat-elevation-z12">
    <div
      class="table-container"
      [ngClass]="isGood ? 'good' : 'bad'"
      (click)="clickedToClose()"
      [@width]="isOverlayOpen"
      (@width.done)="isAnimating = false"
      [cpMouseHover]="300"
      (hoverChange)="updateHoverOverlay($event)"
    >
      <table>
        <thead>
        <tr>
          <td colspan="3">
            <div class="stack">
              <div class="title-label">{{label}}</div>
              <button mat-button class="close-button" (click)="clickedToClose()">
                <div>
                  <mat-icon [svgIcon]="icons.Clear" color="white"></mat-icon>
                </div>
              </button>
            </div>
          </td>
        </tr>
        <tr class="headers">
          <td>Consumption</td>
          <td>Excess</td>
          <td>Production</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{low}}</td>
          <td>{{excess}}</td>
          <td>{{high}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
