<mat-list class="action-list-component" [class.right-justified]="justifyRight">

  <ng-container *ngFor="let option of options"
                [ngSwitch]="option.type">
    <ng-template #button>
      <ng-container *ngIf="option.unavailableMeta?.unavailable$ | async;
                               else normal">
        <div class="action-button unavailable"
             [matTooltip]="option.unavailableMeta.tooltip"
             [matTooltipPosition]="tooltipPosition"
             (click)="$event.stopPropagation(); option.unavailableMeta.action()">
          <span class="text-white">{{option.label}}</span>
          <span matBadgeColor="warn"
                [matBadgeHidden]="!option.unread"
                matBadge="!"></span>
          <mat-icon [svgIcon]="option.icon"></mat-icon>
        </div>
      </ng-container>

      <ng-template #normal>
        <div class="action-button"
             [matTooltip]="option.tooltip"
             [matTooltipPosition]="tooltipPosition">
          <span class="text-white">{{option.label}}</span>
          <span matBadgeColor="warn"
                [matBadgeHidden]="!option.unread"
                matBadge="!"></span>
          <mat-icon [svgIcon]="option.icon"></mat-icon>
        </div>
      </ng-template>
    </ng-template>

    <mat-list-item *ngSwitchCase="actionTypes.Divider" class="divider-list-option">
      <hr />
    </mat-list-item>

    <mat-list-item *ngSwitchCase="actionTypes.Action"
                   (click)="action.emit(option);
                            option.actionMeta.action();
                            option.readNotification()">
      <ng-container *ngTemplateOutlet="button"></ng-container>
    </mat-list-item>

    <mat-list-item *ngSwitchCase="actionTypes.Route"
                   (click)="action.emit(option);
                            option.readNotification();
                            logRoute(option.actionMeta.route)"
                   routerLink="/{{option.actionMeta.route}}">
      <ng-container *ngTemplateOutlet="button"></ng-container>
    </mat-list-item>

    <mat-list-item *ngSwitchCase="actionTypes.ExternalRoute"
                   (click)="action.emit(option);
                            option.readNotification();
                            logExternalLink(option.actionMeta.externalRoute)">
      <a class="anchor-invisible"
         [href]="option.actionMeta.externalRoute"
         target="_blank">
        <ng-container *ngTemplateOutlet="button"></ng-container>
      </a>
    </mat-list-item>

  </ng-container>
</mat-list>
