.action-list-component {

  --padding: 20px;

  mat-list-item {
    padding-left: 0 !important;
    padding-right: 0 !important;

    > span {
      height: 100%;
    }
  }

  .action-button {
    cursor: pointer;
    padding-inline: var(--padding);
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: auto max-content max-content;
    align-items: center;

    [matbadge] {
      margin: 0 4px;
    }

    mat-icon {
      color: white;
      justify-self: end;
    }

    transition: .25s ease-out;

    &:hover {
      background-color: #0002;
    }

    &.unavailable {
      cursor: unset;
      background-color: #aaa3;

      * {
        color: #fffa;
      }
    }
  }

  .divider-list-option {
    height: unset !important;

    hr {
      margin-inline: var(--padding);
      opacity: .5;
    }
  }

  .anchor-invisible {
    height: 100%;
    text-decoration: none;
  }

}
