<svg *ngIf="body.draggableHandle.orbit"
     class="soi-display"
     xmlns="http://www.w3.org/2000/svg"
     [style.left.%]="100 * worldViewScale * body.location.x"
     [style.top.%]="100 * worldViewScale * body.location.y"
     [style.width.%]="100 * worldViewScale * 2 * body.sphereOfInfluence"
     [style.height.%]="100 * worldViewScale * 2 * body.sphereOfInfluence">
  <defs>
    <radialGradient [id]="'grad1' + body.label" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="60%" [style.stop-opacity]="0" />
      <stop offset="100%"
            [style.stop-color]="body.draggableHandle.orbit.color + '30'"
            [style.stop-opacity]="1" />
    </radialGradient>
  </defs>
  <circle [@fade]
          *ngIf="body.draggableHandle.orbit && body.showSoi"
          cx="50%"
          cy="50%"
          r="50%"
          [attr.fill]="'url(#grad1' + body.label + ')'" />
</svg>
