.craft-details-form > cp-input-field-list {
  --grid-col-gap: 40px;

  overflow: hidden;

  display: grid;
  gap: 20px var(--grid-col-gap);
  grid-template-columns: auto auto;
  grid-template-rows: max-content auto;
  grid-template-areas:
    'name antennae'
    'type antennae';

  cp-antenna-selector {
    grid-area: antennae;

    border-left: 1px solid #0003;

    --half-col-gap: calc(var(--grid-col-gap) * .5);
    padding-left: var(--half-col-gap);
    margin-left: calc(var(--half-col-gap) * -1);
  }

  > *:not(cp-antenna-selector) {
    grid-column: 1 / 2;
  }

}

[mat-dialog-actions] {
  grid-template-columns: max-content auto max-content;

  .justify-right {
    justify-self: end !important; // to override style.scss [mat-dialog-actions]
  }
}
