<h1 mat-dialog-title>Craft Details</h1>

<div mat-dialog-content class="craft-details-form">

  <ng-container *ngFor="let inputField of inputFieldsList"
                [ngSwitch]="inputField.controlMeta.type">

    <cp-input-field *ngSwitchCase="controlMetaTypes.Input"
                    [label]="inputField.label"
                    [formControl]="inputField.control"
                    [errors]="inputField.control.errors"></cp-input-field>

    <cp-select *ngSwitchCase="controlMetaTypes.Select"
               [options]="$any(inputField.controlMeta).list"
               [label]="inputField.label"
               [formControl]="inputField.control"
               [errors]="inputField.control.errors"></cp-select>

    <cp-antenna-selector *ngSwitchCase="controlMetaTypes.AntennaSelector"
                         [options]="$any(inputField.controlMeta).list"
                         [label]="inputField.label"
                         [formControl]="inputField.control"
                         [errors]="inputField.control.errors"></cp-antenna-selector>
  </ng-container>

</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button color="primary"
          mat-stroked-button
          [disabled]="form.invalid"
          (click)="submitCraftDetails()">
    {{data.edit ? 'Edit' : 'Create'}}
  </button>
</div>
