:host > div {
  background-color: #111;
  width: 100%;
  height: 100%;
}

.div-as-image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.craft-icon-sprite-image {
  width: 99px;
  height: 99px;
  background-size: 500% 500%;
}
