<div #screen class="text-white overlap-container">

  <cp-orbit-line *ngFor="let orbit of orbits" [orbit]="orbit"></cp-orbit-line>

  <cp-transmission-line *ngFor="let line of transmissionLines" [transmissionLine]="line"></cp-transmission-line>

  <cp-draggable-space-object *ngFor="let body of celestialBodies"
                             [spaceObject]="body"
                             (dragSpaceObject)="startBodyDrag(body, $event, screen)">
    <div class="div-as-image"
         draggable="false"
         [style.background]="body.imageUrl"
         [style.width.px]="body.size"
         [style.height.px]="body.size"></div>
  </cp-draggable-space-object>

  <cp-draggable-space-object *ngFor="let craft of crafts"
                             [spaceObject]="craft"
                             (dragSpaceObject)="startBodyDrag(craft, $event, screen)">
    <div class="craft-icon-sprite-image"
         draggable="false"
         [style.background]="craft.imageUrl"
         [style.background-position-x.px]="craft.spriteLocation.x"
         [style.background-position-y.px]="craft.spriteLocation.y"
         [style.zoom]="craft.size / 100"></div>
  </cp-draggable-space-object>

</div>
