<mat-card cdkDrag cdkDragBoundary="body" class="mat-elevation-z24">
  <mat-card-content>
    <div class="wizard-message-layout">
      <div class="header" cdkDragHandle>
        <div class="text dialog-title" *ngIf="title">{{title}}</div>

        <div class="drag-indicator">
          <mat-icon [svgIcon]="icons.DragIndicator"></mat-icon>
        </div>
      </div>

      <div class="messages">
        <p *ngFor="let message of messages" [innerHtml]="message"></p>
      </div>

      <mat-icon *ngIf="icon && (isHandset$ | async | not)" cdkDragHandle
                class="icon-large"
                color="primary"
                [svgIcon]="icon"></mat-icon>

      <div class="buttons" cdkDragHandle>
        <button *ngIf="stepType === 'end'; else allowCancel"
                mat-button
                color="primary"
                (click)="finishWizard()">
          OK
        </button>
        <ng-template #allowCancel>
          <button mat-button
                  color="accent"
                  (click)="cancelWizard()">
            Cancel Tutorial
          </button>
        </ng-template>

        <button *ngIf="stepType === 'waitForNext'"
                mat-button
                color="primary"
                (click)="continueWizard()">
          Next
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
