:host {
  pointer-events: none;
  position: fixed;
  max-width: 400px;
  z-index: 1001; // mat-dialog adds a z-index:1000 backdrop

  animation: kf-animate-fade-in ease-out .75s forwards;

  @keyframes kf-animate-fade-in {
    from {opacity: 0}
    to {opacity: 1}
  }
}

mat-card {
  pointer-events: all;
}

.layout {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    'title    title'
    'messages icon'
    'buttons  buttons';

  .title {
    grid-area: title;
    display: grid;
    grid-auto-flow: column;
  }

  .messages {
    grid-area: messages;
  }

  button {
    grid-area: buttons;
    justify-self: start;
    width: max-content;
  }

  .icon-large {
    grid-area: icon;
    padding-right: 10px;

    font-size: 75px;
    width: 75px;
    height: 75px;
    place-self: center;
    opacity: .75;
  }
}

.drag-indicator {
  text-align: end;

  mat-icon {
    cursor: grab;
  }
}
