<mat-card cdkDrag cdkDragBoundary="body" >
  <div class="layout">
    <div class="title" cdkDragHandle>
      <h1 *ngIf="title">{{title}}</h1>

      <div class="drag-indicator">
        <mat-icon [svgIcon]="icons.DragIndicator"></mat-icon>
      </div>
    </div>

    <div class="messages">
      <p *ngFor="let message of messages">{{message}}</p>
    </div>

    <mat-icon *ngIf="icon && !(isHandset$ | async)"
              class="icon-large"
              color="primary"
              [svgIcon]="icon"></mat-icon>

    <div class="buttons">
      <button *ngIf="stepType === 'end'; else allowCancel"
              mat-button
              color="primary"
              (click)="finishWizard()">
        OK
      </button>
      <ng-template #allowCancel>
        <button mat-button
                color="accent"
                (click)="cancelWizard()">
          Cancel Tutorial
        </button>
      </ng-template>

      <button *ngIf="stepType === 'waitForNext'"
              mat-button
              color="primary"
              (click)="continueWizard()">
        Next
      </button>
    </div>
  </div>
</mat-card>
