@use '../../../styles/variables' as queries;

:host {
  margin: 8px;

  mat-card {
    box-shadow: var(--claymorph-faint) !important;
  }

  pointer-events: none;

  > * {
    pointer-events: all;
  }

  position: fixed;
  max-width: 400px;
  z-index: 1001; // mat-dialog adds a z-index:1000 backdrop

  animation: kf-animate-fade-in ease-out .75s forwards;

  @keyframes kf-animate-fade-in {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }

  @media screen and (max-width: queries.$query-mobile-width),
  (max-height: queries.$query-mobile-height-landscape) {
    width: 220px;

    mat-card-content {
      padding-bottom: 0;
    }
  }
}

.wizard-message-layout {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    'header   header'
    'messages icon'
    'buttons  buttons';

  .header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
  }

  .messages {
    grid-area: messages;
  }

  .buttons {
    grid-area: buttons;

    display: flex;
    justify-content: space-between;
  }

  .icon-large {
    grid-area: icon;
    padding-right: 10px;

    font-size: 75px;
    width: 75px;
    height: 75px;
    place-self: center;
    opacity: .75;
  }

  @media screen and (max-width: queries.$query-mobile-width),
  (max-height: queries.$query-mobile-height-landscape) {
    .messages {
      height: 100px;
      overflow-y: auto;
      margin-inline: -10px;
      font-size: 0.9em;
      text-wrap: balance;
    }

    .header .dialog-title {
      font-size: 1em;
      line-height: unset;
    }
  }
}

.drag-indicator {
  text-align: end;

  mat-icon {
    cursor: grab;
  }
}
