:host {
  mat-card {
    box-shadow: var(--claymorph-faint) !important;
  }

  pointer-events: none;

  > * {
    pointer-events: all;
  }

  position: fixed;
  max-width: 400px;
  z-index: 1001; // mat-dialog adds a z-index:1000 backdrop

  animation: kf-animate-fade-in ease-out .75s forwards;

  @keyframes kf-animate-fade-in {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }

  @media screen and (max-width: 600px), (max-height: 500px) {
    .layout {
      .messages {
        height: 100px;
        overflow-y: auto;
      }

      .title h1 {
        font-size: 1em;
        line-height: unset;
        font-weight: 700;
      }
    }

    width: 200px;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    'title    title'
    'messages icon'
    'buttons  buttons';

  .title {
    grid-area: title;
    display: grid;
    grid-auto-flow: column;
  }

  .messages {
    grid-area: messages;
  }

  .buttons {
    grid-area: buttons;

    display: flex;
    justify-content: space-between;
  }

  .icon-large {
    grid-area: icon;
    padding-right: 10px;

    font-size: 75px;
    width: 75px;
    height: 75px;
    place-self: center;
    opacity: .75;
  }
}

.drag-indicator {
  text-align: end;

  mat-icon {
    cursor: grab;
  }
}
