<mat-card cdkDrag cdkDragBoundary="body" cdkDragHandle>
  <div class="layout">
    <div class="title">
      <h1 *ngIf="title">{{title}}</h1>

      <div class="drag-indicator">
        <mat-icon [svgIcon]="icons.DragIndicator"></mat-icon>
      </div>
    </div>


    <div class="messages">
      <p *ngFor="let message of messages">{{message}}</p>
    </div>

    <mat-icon *ngIf="icon" class="icon-large" color="primary" [svgIcon]="icon"></mat-icon>

    <button *ngIf="isLastStep; else allowCancel"
            mat-button
            color="primary"
            (click)="finishWizard()">
      OK
    </button>
    <ng-template #allowCancel>
      <button mat-button
              color="accent"
              (click)="cancelWizard()">
        Cancel Tutorial
      </button>
    </ng-template>
  </div>
</mat-card>
