<svg class="overflow-visible position-absolute"
     *ngFor="let trajectory of trajectories; trackBy: getTrajectoryKey"
     [@fade]
     xmlns="http://www.w3.org/2000/svg">

  <defs>
    <marker id="head"
            orient="auto"
            markerWidth="3"
            markerHeight="3"
            refX="3"
            refY="1.1">
      <path d="M 0 2 L 1 1 L 0 0"
            fill="none"
            stroke="#fc4"
            stroke-width=".5" />
    </marker>
    <marker id="tail"
            orient="auto"
            markerWidth="3"
            markerHeight="3"
            refX="-3"
            refY="1.1">
      <path d="M 0 2 L 1 1 L 0 0"
            fill="none"
            stroke="#fc4"
            stroke-width=".5" />
    </marker>
  </defs>

  <path *ngIf="trajectory.b"
        marker-end="url(#head)"
        marker-start="url(#tail)"
        [attr.stroke-width]="6"
        [attr.stroke]="'#fa0' + 'A'"
        fill="none"
        stroke-linecap="round"
        [attr.d]="'M '
        + scale * trajectory.a.location.x
        + ' '
        + scale * trajectory.a.location.y
          + 'S '
          + scale * trajectory.curve(trajectory.a.location.x, trajectory.a.location.y,
                                      trajectory.b.location.x, trajectory.b.location.y).x
          + ' '
          + scale * trajectory.curve(trajectory.a.location.x, trajectory.a.location.y,
                                      trajectory.b.location.x, trajectory.b.location.y).y
            + ' '
            + scale * trajectory.b.location.x
            + ' '
            + scale * trajectory.b.location.y" />

  <foreignObject class="overflow-visible destination-marker"
                 width="100%"
                 height="100%"
                 [attr.x]="scale * trajectory.a.location.x"
                 [attr.y]="scale * trajectory.a.location.y - trajectory.a.size * .5 - 20">
    <mat-icon class="icon-map-marker" [svgIcon]="icons.MapMarker">
      <span class="trip-index" xmlns="http://www.w3.org/1999/xhtml">{{trajectory.sequence}}</span>
    </mat-icon>

  </foreignObject>

</svg>

<mat-icon class="icon-map-marker mouse-location-marker"
          *ngIf="isAddingDestination"
          [@fade]
          [style.left.px]="(mouseLocation$ | async).x"
          [style.top.px]="(mouseLocation$ | async).y"
          [svgIcon]="icons.AddMapMarker"></mat-icon>
