<cp-draggable-space-object
  [spaceObject]="craft"
  (dragSpaceObject)="dragStart.emit($event)"
  (focusObject)="focus.emit($event)"
  (editSpaceObject)="edit.emit()"
>
  <div
    class="craft-icon-sprite-image"
    draggable="false"
    [style.background]="craft.draggable.imageUrl"
    [style.background-position-x.px]="craft.spriteLocation.x"
    [style.background-position-y.px]="craft.spriteLocation.y"
  ></div>

  <div
    @fade
    *ngIf="craft.draggable.isHover$ | async"
    class="altitude-text"
    matTooltip="Altitude"
  >
    {{craft.displayAltitude}}
  </div>

  <div
    @fade
    *ngIf="craft.communication.hasControl$.stream$ | async | not"
    class="connection-indicator"
    matTooltip="No remote control"
  >
    <mat-icon [svgIcon]="icons.SignalStrength"></mat-icon>
  </div>
</cp-draggable-space-object>
