<cp-draggable-space-object
  [spaceObject]="craftSig()"
  (dragSpaceObject)="dragStart.emit($event)"
  (focusObject)="focus.emit($event)"
  [showEdit]="true"
  (editSpaceObject)="edit.emit()"
>
  <div
    class="craft-icon-sprite-image"
    draggable="false"
    [style.background]="imageUrlSig()"
    [style.background-position-x.px]="locationXSig()"
    [style.background-position-y.px]="locationYSig()"
  ></div>

  @if (isHover$Sig() | async) {
    <div
      @fade
      class="altitude-text"
      matTooltip="Altitude"
    >
      {{ altitude$ | async }}
    </div>
  }

  @if (notConnected$Sig() | async) {
    <div
      @fade
      class="connection-indicator"
      matTooltip="No remote control"
    >
      <mat-icon [svgIcon]="icons.SignalStrength"></mat-icon>
    </div>
  }
</cp-draggable-space-object>
