<div #screen
     id="camera-backboard"
     class="camera"
     style="position: absolute; outline: 1px solid #f007;"
     [style.width.%]="100"
     [style.height.%]="100"
     (mousedown)="cameraMouseDown($event, screen)"
     (wheel)="updateScale($event)"
>

  {{camera.scale}}

  <div id="universe"
       style="position: relative; outline: 1px solid #0f07;"
       [style.left.px]="camera.location.x"
       [style.top.px]="camera.location.y"
       [style.width.px]="camera.scale * 1000"
       [style.height.px]="camera.scale * 1000"
  >

    <div id="bodies" *ngFor="let body of bodys; let i = index"
         class="planet"
         style="position: absolute; cursor: pointer;"
         [style.left.%]="body.location.x / 10"
         [style.top.%]="body.location.y / 10"
         (pointerdown)="startBodyDrag(body, $event, screen); $event.stopPropagation()"
         (mousedown)="$event.stopImmediatePropagation()"
    >
      <svg [style.overflow]="'visible'"
           [style.width.px]="body.size"
           [style.height.px]="body.size">
        <g>
          <circle [attr.r]="body.size"
                  [attr.fill]="['mediumpurple', 'teal', 'pink'][i]" />
        </g>
      </svg>
    </div>
  </div>
</div>
