<div class="list-layout">
  <div *ngFor="let destination of _missionDestinations; trackBy: getNode"
       [@animateHeight]>
    <cp-msp-edge *ngIf="destination.edge"
                 [details]="destination.edge"></cp-msp-edge>

    <cp-msp-node [details]="destination.node"
                 (remove)="removeNode.emit(destination)"
                 (update)="updateNode.emit(destination)"></cp-msp-node>
  </div>

  <div [@animateHeight] *ngIf="_missionDestinations.length" class="divider"></div>

  <mat-divider></mat-divider>
</div>

<div class="destination-controls">
  <button mat-flat-button
          color="primary"
          (click)="add.emit()">
    <mat-icon [svgIcon]="icons.AddMapMarker"></mat-icon>
  </button>

  <button mat-button
          color="warn"
          (click)="reset.emit()">
    <mat-icon [svgIcon]="icons.Delete"></mat-icon>
  </button>
</div>

<div class="totals-layout">
  <div>Total Delta-v required</div>
  <div>{{deltaVTotal}} m/s</div>

  <div>Minimum TWR required</div>
  <div>{{twrMinimum}}</div>
</div>
