.list-layout {
  display: grid;

  max-height: 400px;
  overflow-y: auto;

  border-top: 1px solid white;
  border-bottom: 1px solid white;

  padding-top: 1em;

  .divider {
    border-bottom: 1px dotted #fff7;
    padding: 10px;
    margin: 0 20px;
  }
}

.destination-controls {
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: auto max-content;
}

.totals-layout {
  display: grid;
  grid-template-columns: auto max-content;
  column-gap: 1em;
}
