<div class="list-layout">
  <div *ngFor="let destination of missionDestinations; trackBy: getNode"
       [@height]>
    <cp-msp-edge *ngIf="destination.edge"
                 [details]="destination.edge"></cp-msp-edge>

    <cp-msp-node [details]="destination.node"
                 (remove)="removeNode.emit(destination)"
                 (update)="updateNode.emit(destination)"></cp-msp-node>
  </div>

  <div [@height] *ngIf="missionDestinations.length" class="divider"></div>
</div>

<div class="destination-controls">
  <button mat-flat-button
          id="add-dv-mission-checkpoint-button"
          color="primary"
          [matTooltip]="'Add new checkpoint'"
          (click)="add.emit()">
    <mat-icon [svgIcon]="icons.AddMapMarker"></mat-icon>
  </button>

  <button mat-button
          id="clear-dv-mission-button"
          class="fix-disabled-color"
          color="warn"
          [matTooltip]="'Clear entire mission'"
          [disabled]="!missionDestinations.length"
          (click)="reset.emit()">
    <mat-icon [svgIcon]="icons.Delete"></mat-icon>
  </button>
</div>

<div class="totals-layout text-white" *ngIf="missionDestinations.length">
  <div>Total delta-v</div>
  <div>{{deltaVTotal}} m/s</div>

<!--  <div>Minimum TWR required</div>-->
<!--  <div>{{twrMinimum}}</div>-->
</div>
