.action-panel {
  width: max-content;
  height: max-content;

  z-index: 1;

  &.green {
    background-color: #8bc34a;
  }

  &.orange {
    background-color: orangered;
  }

  &.top-left {
    border-radius: 0 !important;
    border-bottom-right-radius: 30px !important;
  }

  &.bottom-left {
    border-radius: 0 !important;
    border-top-right-radius: 30px !important;
    position: absolute;
    bottom: 0;
  }
}

.center-title-line {
  display: flex;
  align-items: center;
}

.list-background {
  background-color: #0002;
  filter: blur(10px);
}

.route-link {
  padding-left: 20px !important;
}

.route-button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  mat-icon {
    color: white;
    justify-self: end;
  }
}

.toolbar-text {
  color: white !important; // expansion-panel forces gray color here
}

.mat-expansion-panel-body {
  padding: unset !important; // remove extra padding
}
