<div class="action-panel"
     [ngClass]="[color, location]">
  <button mat-button
          class="button-header"
          (click)="toggle()">
    <div class="layout-header">
      <mat-icon [svgIcon]="startIcon"
                class="icon-button-large"></mat-icon>

      <span class="title-header">{{startTitle}}</span>

      <span class="notify-badge"
            matBadgeColor="warn"
            [matBadgeHidden]="!actionList.unreadCount"
            [matBadge]="actionList.unreadCount"></span>

      <ng-content></ng-content>
    </div>
  </button>

  <div [@expandY]="isOpen">
    <cp-action-list #actionList
                    [options]="options"
                    (action)="close()"></cp-action-list>
  </div>
</div>
