<mat-expansion-panel #expander
                     hideToggle
                     class="action-panel"
                     [ngClass]="[color, location]"
                     disabled>
  <mat-expansion-panel-header>
    <mat-panel-title class="center-title-line toolbar-text">
      <button mat-icon-button (click)="expander.toggle()">
        <mat-icon>{{startIcon}}</mat-icon>
      </button>
      <span>{{startTitle}}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="overlap-container">
    <div class="list-background"></div>

    <mat-selection-list [multiple]="false">

      <ng-container *ngFor="let option of options"
                    [ngSwitch]="option.type">
        <ng-template #button>
          <div class="action-button">
            <span class="text-white">{{option.label}}</span>
            <mat-icon>{{option.icon}}</mat-icon>
          </div>
        </ng-template>

        <mat-list-option *ngSwitchCase="actionTypes.Action"
                         [value]="option"
                         (click)="expander.close(); option.actionMeta.action()">
          <ng-container *ngTemplateOutlet="button"></ng-container>
        </mat-list-option>

        <mat-list-option *ngSwitchCase="actionTypes.Route"
                         [value]="option"
                         (click)="expander.close()"
                         routerLink="/{{option.actionMeta.route}}">
          <ng-container *ngTemplateOutlet="button"></ng-container>
        </mat-list-option>

        <mat-list-option *ngSwitchCase="actionTypes.ExternalRoute"
                         [value]="option"
                         (click)="expander.close()">
          <a class="anchor-invisible" [href]="option.actionMeta.externalRoute">
            <ng-container *ngTemplateOutlet="button"></ng-container>
          </a>
        </mat-list-option>

      </ng-container>
    </mat-selection-list>
  </div>
</mat-expansion-panel>
