.notify-badge {
  padding-left: 16px;
  margin-right: 18px;
  animation: kf-animate-opacity-wobble 4s linear infinite forwards;
}

@keyframes kf-animate-opacity-wobble {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  45% {
    opacity: 1
  }
  50% {
    opacity: .5
  }
  60% {
    opacity: 1
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.button-header {
  width: 100%;
  justify-content: flex-start;
  min-height: 48px;
  padding: 24px;

  .layout-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.icon-button-large {
  --size: 24px;
  width: var(--size) !important;
  height: var(--size) !important;
}

.title-header {
  font-size: 1.1em
}

.action-panel {
  overflow: hidden;

  &.green {
    background-color: var(--color-background-panel-green-opaque);
  }

  &.orange {
    background-color: var(--color-background-panel-orange-opaque);
  }

  &.cosmic-blue {
    background-color: var(--color-background-panel-cosmic-blue);
  }

  --panel-rounding: 30px;

  &.top-left {
    border-radius: 0 !important;
    border-bottom-right-radius: var(--panel-rounding) !important;

    box-shadow: var(--claymorph-faint) !important;
  }

  &.bottom-left {
    border-radius: 0 !important;
    border-top-right-radius: var(--panel-rounding) !important;

    box-shadow: var(--claymorph-faint) !important;
  }

  &.top-right {
    border-radius: 0 !important;
    border-bottom-left-radius: var(--panel-rounding) !important;

    box-shadow: var(--claymorph-faint) !important;
  }
}
