mat-expansion-panel-header {
  cursor: pointer;
  user-select: none;
}

.no-hover-effect:hover {
  background: none !important;
}

.action-panel {
  width: max-content;
  height: max-content;

  //z-index: 1;

  &.green {
    background-color: var(--color-background-panel-green);
  }

  &.orange {
    background-color: var(--color-background-panel-orange);
  }

  &.cosmic-blue {
    background-color: var(--color-background-panel-cosmic-blue);
  }

  --panel-rounding: 30px;

  &.top-left {
    border-radius: 0 !important;
    border-bottom-right-radius: var(--panel-rounding) !important;
  }

  &.bottom-left {
    border-radius: 0 !important;
    border-top-right-radius: var(--panel-rounding) !important;
    //position: absolute;
    //bottom: 0;
  }

  &.top-right {
    border-radius: 0 !important;
    border-bottom-left-radius: var(--panel-rounding) !important;
    //position: absolute;
    //right: 0;
  }
}

.center-title-line {
  display: flex;
  align-items: center;
}

.list-background {
  background-color: #0002;
  filter: blur(10px);
}

.action-button {
  height: 100%;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;

  padding: 0 20px !important;

  mat-icon {
    color: white;
    justify-self: end;
  }

  transition: .25s ease-out;

  &:hover {
    background-color: #0002;
  }

  &.unavailable {
    background-color: #aaa3;
    * {
      color: #fffa;
    }
  }
}

.route-wrap {
  height: 100%;
  outline: none !important;
}

.toolbar-text {
  color: white !important; // expansion-panel forces gray color here
}

.mat-expansion-panel-body {
  padding: unset !important; // remove extra padding
}

.mat-list-text {
  height: 100%;
  padding: 0 !important;
}

.mat-list-item-content {
  padding: 0 !important;
}

.anchor-invisible {
  height: 100%;
  text-decoration: none;
}

.notify-badge {
  padding-left: 16px;
  margin-right: 18px;
  animation: kf-animate-opacity-wobble 4s linear infinite forwards;
}

@keyframes kf-animate-opacity-wobble {
  0% {opacity: 0}
  25% {opacity: 1}
  45% {opacity: 1}
  50% {opacity: .5}
  60% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0}
}
