<div class="overlap-container page-container">
  <cp-universe-map #universeMap
                   [allowEdit]="false"
                   (startDrag)="selectDestination($event)"
                   (hoverBody)="missionJourney.hoverBody($event)"
                   (update)="missionJourney.update()">
    <cp-mission-journey abovePlanets
                        #missionJourney
                        class="z-index-top"
                        [scale]="universeMap.camera.scale"
                        [missionDestinations]="missionDestinations$ | async"
                        [isAddingDestination]="isSelectingDestination$ | async">
    </cp-mission-journey>
  </cp-universe-map>

  <cp-maneuver-sequence-panel class="maneuver-sequence-panel"
                              [destinationList]="missionDestinations$ | async"
                              (add)="addMissionDestination()"
                              (reset)="resetMission()"
                              (removeDestination)="removeMissionDestination($event)"
                              (updateDestination)="updateMissionDestination($event)">
  </cp-maneuver-sequence-panel>
</div>
