<cp-universe-map #universeMap
                 [allowEdit]="false"
                 (startDrag)="selectCheckpoint($event)"
                 [orbits]="orbits$ | async"
                 [planets]="planets$ | async"
                 (editPlanet)="editPlanet($event)">

  <cp-mission-journey aboveOrbits
                      class="no-mouse"
                      [scale]="universeMap.camera.scale"
                      [checkpoints]="checkpoints$ | async"
                      [isAddingCheckpoint]="isSelectingCheckpoint$ | async">
  </cp-mission-journey>
</cp-universe-map>

<cp-hud
  tooltip="This page handles Delta-v calculations, click the green menu for others"
  [icon]="icons.DeltaV"
  [contextPanelDetails]="contextPanelDetails"
>
  <cp-zoom-indicator top class="no-mouse"></cp-zoom-indicator>
  <cp-focus-jump-to-panel
    left
    [focusables]="planets$ | async"
  ></cp-focus-jump-to-panel>
  <cp-maneuver-sequence-panel right></cp-maneuver-sequence-panel>
</cp-hud>
