@use '../../../../styles/common';

:host {
  @extend .widget-details;
}

.craft-stats {
  display: grid;
  justify-content: start;
  grid-template-columns: max-content auto max-content;
  gap: 0 2ch;
  align-items: center;
}
