@use '../../../styles/variables';
@use '../../../styles/common';

:host {
  @extend .full-page;
}

.isru-layout {
  background-color: var(--color-background-card);
  color: var(--color-text);
  padding: 1em 2em;

  display: grid;
  gap: 1em;

  @media screen and (min-width: variables.$query-mobile-width) {
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content auto;
    justify-content: center;

    > div.text {
      grid-column: 1/-1;
    }
  }

  .statistics-messages {
    display: grid;
    gap: 1em;
    grid-auto-rows: max-content;
  }
}
