@for (inputField of inputFields; track inputField.label) {
  <div @height>
    @switch (inputField.controlMeta.type) {
      @case (controlMetaTypes.Input) {
        @defer (when true) {
          <cp-input-field
            [type]="$any(inputField.controlMeta).inputType"
            [label]="inputField.label"
            [hint]="inputField.controlMeta.hint"
            [formControl]="inputField.control"
            [errors]="inputField.control.touched && inputField.control.errors"
          />
        }
      }
      @case (controlMetaTypes.FreeText) {
        @defer (when true) {
          <cp-input-text-area
            [label]="inputField.label"
            [hint]="inputField.controlMeta.hint"
            [formControl]="inputField.control"
            [errors]="inputField.control.touched && inputField.control.errors"
          />
        }
      }
      @case (controlMetaTypes.Number) {
        @defer (when true) {
          <cp-input-number
            [controlMeta]="inputField.controlMeta"
            [label]="inputField.label"
            [formControl]="inputField.control"
            [errors]="inputField.control.touched && inputField.control.errors"
          />
        }
      }
      @case (controlMetaTypes.Select) {
        @defer (when true) {
          <cp-input-select
            [options]="$any(inputField.controlMeta).list"
            [mapIcons]="$any(inputField.controlMeta).mapIcons"
            [label]="inputField.label"
            [hint]="inputField.controlMeta.hint"
            [formControl]="inputField.control"
            [errors]="inputField.control.touched && inputField.control.errors"
          />
        }
      }
      @case (controlMetaTypes.Toggle) {
        @defer (when true) {
          <cp-input-toggle
            [label]="inputField.label"
            [hint]="inputField.controlMeta.hint"
            [formControl]="inputField.control"
            [errors]="inputField.control.touched && inputField.control.errors"
          />
        }
      }
      @case (controlMetaTypes.AntennaSelector) {
        @defer (when true) {
          <cp-antenna-selector
            [options]="$any(inputField.controlMeta).list"
            [label]="inputField.label"
            [formControl]="inputField.control"
            [errors]="inputField.control.touched && inputField.control.errors"
          />
        }
      }
    }
  </div>
}
