mat-tab-header {
  margin-bottom: 10px;
}

.antenna-selector-layout {
  height: auto;

  display: grid;
  gap: 20px;

  --input-gap: 10px;
}

.selected-antenna {
  display: flex;
  gap: var(--input-gap);
}
