<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Antennae">

    <div class="antenna-selector-layout">
      <div *ngFor="let antennaInput of antennaInputs"
           [id]="antennaInput.selectedAntenna.label"
           class="selected-antenna">

        <cp-input-field label="Antenna Type"
                        [formControl]="antennaInput.antennaControl"></cp-input-field>

        <cp-input-number label="Part Count"
                         [formControl]="antennaInput.countControl"
                         [errors]="antennaInput.countControl.touched && antennaInput.countControl.errors"
                         (output)="userInputChange()"></cp-input-number>

        <button mat-icon-button (click)="removeAntenna(antennaInput)"
                [matTooltip]="'Remove this Antenna'">
          <mat-icon color="warn">{{icons.Delete}}</mat-icon>
        </button>
      </div>

      <cp-input-select *ngIf="availableOptions.length"
                       label="Antenna Type"
                       [options]="availableOptions"
                       [formControl]="finalControl"></cp-input-select>
    </div>
  </mat-tab>

  <mat-tab label="Statistics">
    <cp-antenna-stats></cp-antenna-stats>
  </mat-tab>
</mat-tab-group>
