<div mat-dialog-content class="craft-details-form">
  <div class="text dialog-title">Craft Details</div>

  <div class="left-column">
    <cp-input-field-list class="add-gap" [inputFields]="inputListCraft"></cp-input-field-list>

    <button mat-button
            class="advanced-placement-button"
            (click)="advancedIsOpen = !advancedIsOpen">
      <mat-icon [@flipVertical]="advancedIsOpen" [svgIcon]="Icons.ChevronDown"></mat-icon>
      Advanced Placement
    </button>
    <cp-input-field-list [@height]="advancedIsOpen"
                         class="advanced-placement-fields"
                         [inputFields]="advancedInputFieldsList"></cp-input-field-list>

    <div @fade
         *ngIf="(advancedForm.dirty || advancedForm.touched) && advancedForm.errors"
         class="error-message">
      <mat-error>{{advancedForm.errors.allOrNone || advancedForm.errors.altitudeTooHigh}}</mat-error>

      <button mat-icon-button
              color="warn"
              (click)="advancedForm.reset()"
              [matTooltip]="'Reset values'">
        <mat-icon [svgIcon]="Icons.DeleteAll"></mat-icon>
      </button>
    </div>
  </div>

  <mat-divider class="middle-column" vertical></mat-divider>

  <cp-input-field-list class="right-column" [inputFields]="inputListAntenna"></cp-input-field-list>

</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button *ngIf="data.edit"
          class="justify-right"
          color="warn"
          mat-stroked-button
          (click)="remove()">
    Remove
  </button>
  <button color="primary"
          mat-stroked-button
          [disabled]="form.invalid"
          (click)="submitCraftDetails()">
    {{data.edit ? 'Save' : 'Create'}}
  </button>
</div>
