:root {
  --timing-function-sine-both: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  --timing-function-sine-in: cubic-bezier(0.4, 0, 1, 1);
  --timing-function-sine-out: cubic-bezier(0.39, 0.58, 0.57, 1);

  --timing-function-quadratic-both: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  --timing-function-quadratic-in: cubic-bezier(0.55, 0.09, 0.68, 0.53);
  --timing-function-quadratic-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --timing-function-cubic-both: cubic-bezier(0.65, 0.05, 0.36, 1);
  --timing-function-cubic-in: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  --timing-function-cubic-out: cubic-bezier(0.22, 0.61, 0.36, 1);

  --timing-function-back-both: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --timing-function-back-in: cubic-bezier(0.6, -0.28, 0.74, 0.05);
  --timing-function-back-out: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes kf-animate-background-color-wobble {
  0% {
    background-color: var(--animate-background-color-wobble-0)
  }
  100% {
    background-color: var(--animate-background-color-wobble-1)
  }
}

@keyframes kf-animate-opacity-wobble {
  0% {
    opacity: var(--animate-opacity-wobble-0)
  }
  100% {
    opacity: var(--animate-opacity-wobble-1)
  }
}
