.stack {
  display: grid;

  > * {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}

/** @deprecated - use .stack instead */
.overlap-container {
  display: grid;

  > * {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}

.overflow-visible {
  overflow: visible;
}

.position-absolute {
  position: absolute;
}

.visible {
  opacity: 1 !important;
}

.read-more {
  color: var(--color-text-hyperlink);
  cursor: pointer;
  border-radius: 8px;
  padding: 4px;
  margin: 0 -4px;
  transition: .2s;

  &:hover {
    background-color: #00000007;
  }
}

.frosted-glass {
  backdrop-filter: blur(5px);
}

.no-mouse {
  pointer-events: none;
}

.input-field-dark-text {
  input {
    color: #000 !important;
  }
}

.inline-children {
  display: flex;
}
