.stack {
  display: grid;

  > * {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}

.overflow-visible {
  overflow: visible;
}

.position-absolute {
  position: absolute;
}

.visible {
  opacity: 1 !important;
}

.full-page {
  @extend .stack;
  height: 100%;
}

.read-more {
  color: var(--color-text-hyperlink);
  cursor: pointer;
  border-radius: 8px;
  padding: 4px;
  margin: 0 -4px;
  transition: .2s;

  &:hover {
    background-color: #00000007;
  }
}

.frosted-glass {
  backdrop-filter: blur(5px);
}

@supports not (backdrop-filter: blur(5px)) {
  .frosted-glass {
    filter: drop-shadow(0 0 2px #000);
  }
}

.no-pointer {
  pointer-events: none;
}

.all-pointer {
  pointer-events: auto;
}

.no-padding {
  padding: 0 !important;
}

.screen-border-margin {
  margin: 8px;
}

.input-field-contrast-text {
  input {
    color: var(--color-text) !important;
  }
}

.inline-children {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.gap-1 {
    gap: 1em;
  }
}

.dim-until-hover {
  opacity: .33;
  transition: opacity .2s ease-out;

  &:hover {
    opacity: 1;
  }
}

.titled-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
