@import 'node_modules/@angular/material/theming';

//$a: #BADA55;

$cp-kerbal: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);


@include mat-core();

$cp-primary: mat-palette($cp-kerbal);
$cp-accent: mat-palette($mat-amber, A700, 300, 900);
$cp-warn: mat-palette($mat-deep-orange);

$cp-theme: mat-light-theme((
  color: (
    primary: $cp-primary,
    accent: $cp-accent,
    warn: $cp-warn,
  )
));

@include angular-material-theme($cp-theme);

:root {
  --green: 119, 184, 46;
  --orange: 242, 65, 0;
  --cosmic-blue: 63, 81, 181;

  --color-background-panel-green-opaque: rgb(var(--green));
  --color-background-panel-orange-opaque: rgb(var(--orange));
  --color-background-panel-cosmic-blue-opaque: rgb(var(--cosmic-blue));
  --color-background-panel-green: rgba(var(--green), .75);
  --color-background-panel-orange: rgba(var(--orange), .75);
  --color-background-panel-cosmic-blue: rgba(var(--cosmic-blue), .75);
  --color-background-panel-green-glass: rgba(var(--green), .5);
  --color-background-panel-orange-glass: rgba(var(--orange), .5);
  --color-background-panel-cosmic-blue-glass: rgba(var(--cosmic-blue), .5);

  --color-text-primary: #{map-get($cp-primary, 700)};
  --color-text-hyperlink: #263dc1;
  --color-text-map-green: #cf0a;
  --color-text-muted: #999;

  --color-icon-muted: #666;
  --color-icon-white: #fffc;
}

