@import 'node_modules/@angular/material/theming';

/*
$cp-kerbal: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #BADA55,
  400: #5c6bc0,
  500: #3f51b5,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
*/

@include mat-core();

$cp-primary: mat-palette($mat-green);
$cp-accent: mat-palette($mat-amber, A700, 300, 900);
$cp-warn: mat-palette($mat-deep-orange);

$cp-theme: mat-light-theme((
  color: (
    primary: $cp-primary,
    accent: $cp-accent,
    warn: $cp-warn,
  )
));

@include angular-material-theme($cp-theme);

