@use 'node_modules/@angular/material' as mat;
@use 'node_modules/@angular/material/theming' as theme;

$text-dark: #111;
$text-light: #fff;
$kerbal-palette: (
  50: #f4f9e7,
  100: #e3efc4,
  200: #d1e59d,
  300: #bfdb76,
  400: #b1d358,
  500: #a3cb3b,
  600: #9bc635,
  700: #91be2d,
  800: #88b826,
  900: #77ac19,
  A100: #f3ffe0,
  A200: #e0ffad,
  A400: #ccff7a,
  A700: #c2ff61,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-dark,
    400: $text-dark,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-dark,
    A700: $text-dark,
  ),
);

@include mat.core();

$primary-light: mat.define-palette($kerbal-palette, 900);
$accent-light: mat.define-palette(mat.$amber-palette, A700);
$warn-light: mat.define-palette(mat.$deep-orange-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary-light,
    accent: $accent-light,
    warn: $warn-light,
  ),
));
@include mat.all-component-themes($light-theme);

$primary-dark: mat.define-palette($kerbal-palette, 300);
$accent-dark: mat.define-palette(mat.$amber-palette, A400);
$warn-dark: mat.define-palette(mat.$red-palette, A200);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary-dark,
    accent: $accent-dark,
    warn: $warn-dark,
  ),
));

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

:root {
  --green: 147, 177, 53;
  --orange: 242, 65, 0;
  --cosmic-blue: 63, 81, 181;

  --color-background-panel-green-opaque: rgb(var(--green));
  --color-background-panel-orange-opaque: rgb(var(--orange));
  --color-background-panel-cosmic-blue-opaque: rgb(var(--cosmic-blue));
  --color-background-panel-green: rgba(var(--green), .75);
  --color-background-panel-orange: rgba(var(--orange), .75);
  --color-background-panel-cosmic-blue: rgba(var(--cosmic-blue), .75);
  --color-background-panel-green-glass: rgba(var(--green), .5);
  --color-background-panel-orange-glass: rgba(var(--orange), .5);
  --color-background-panel-cosmic-blue-glass: rgba(var(--cosmic-blue), .5);
  --color-background-card: #fff;
  --color-background-description: #fff;
  --color-background-description-glass: #fffe;
  --color-background-article: #f3f3f3;

  --color-text: #111;
  --color-text-snackbar: #ffffffb3;
  --color-text-primary: #{map-get($primary-light, 500)};
  --color-text-accent: #{map-get($accent-light, 500)};
  --color-text-warn: #{map-get($warn-light, 500)};
  --color-text-hyperlink: #263dc1;
  --color-text-hyperlink-visited: #5226c1;
  --color-text-map-green: #cf0a;
  --color-text-muted: #999;

  --color-border-simple: #0006;

  --color-icon-muted: #666;
  --color-icon-white: #fffc;

  .dark-theme {
    --color-background-card: #424242;
    --color-background-description: #333;
    --color-background-description-glass: #333e;
    --color-background-article: #333;

    --color-text: #fff;
    --color-text-snackbar: #ffffffb3;
    --color-text-primary: #{map-get($primary-dark, 500)};
    --color-text-accent: #{map-get($accent-dark, 500)};
    --color-text-warn: #{map-get($warn-dark, 500)};
    --color-text-hyperlink: #67b3ff;
    --color-text-hyperlink-visited: #ddbfff;

    --color-border-simple: #fff6;

    --color-icon-muted: #999;
  }
}

