.cdk-global-scrollblock {
  overflow: hidden;
}

[mat-dialog-actions] {
  // creates the following layout examples
  //  -------------------------[OK]
  // [CANCEL] ---------------[SAVE]
  // [CANCEL] ----- [REMOVE] [SAVE]
  & > *:nth-child(2),
  *:only-child {
    margin-left: auto !important;
  }
}

@media screen and (max-width: 1000px) {
  .cdk-overlay-backdrop.mobile-friendly + .cdk-global-overlay-wrapper {
    align-items: start !important;

    .cdk-overlay-pane {
      max-width: unset !important;
      width: 100%;
    }
  }
}

.overlay-no-backdrop {
  background-color: transparent;
  pointer-events: none;
}

.mat-snack-bar-handset {
  margin-bottom: 80px !important;
}

.mat-bottom-sheet-container {
  backdrop-filter: blur(5px);
}

// compact form fields
mat-form-field {
  --pad: 10px;

  &.mat-mdc-form-field-type-mat-select {
    --pad: 6px;
  }

  .mat-mdc-form-field-infix {
    min-height: unset;
    padding-top: var(--pad) !important;
    padding-bottom: var(--pad) !important;
  }
}

.mdc-floating-label:not(.mdc-floating-label--float-above) {
  top: 50% !important;
}

// add to <mat-menu> to list buttons vertically
.menu-vertical {

  .mat-mdc-menu-content {
    display: grid;
  }

  &.buttons-left button {
    justify-content: start;
  }
}

.mdc-notched-outline__notch {
  padding-right: 0 !important;
}
