/* You can add global styles to this file, and also import other style files */

:root {
  --text-map-green: #cf0A;
  --color-text-muted: #999
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.overlap-container {
  display: grid;

  > * {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}

.text-white {
  color: white;
}

.overflow-visible {
  overflow: visible;
}

.visible {
  opacity: 1 !important;
}

.read-more {
  color: var(--color-hyperlink-text);
  cursor: pointer;
  border-radius: 8px;
  padding: 4px;
  margin: 0 -4px;
  transition: .2s;

  &:hover {
    background-color: #00000007;
  }
}

[mat-dialog-actions] {
  display: grid !important;
  grid-auto-flow: column;

  & > *:nth-last-child(n + 2) { // all except last
    justify-self: start;
  }

  & > *:last-child {
    justify-self: end;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0003;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0903;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    filter: brightness(.95);
  }
}
