@use 'common';
@use 'fix-material';
@use 'scrollbar';
@use 'overlay';
@use 'text';
@use 'grid';
@use 'global';

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  position: relative;
}
