@use 'common';
@use 'fix-material';
@use 'variables';
@use 'scrollbar';
@use 'overlay';
@use 'text';
@use 'grid';
@use 'animations';
@use 'global';

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  color: var(--color-text);
}

a {
  color: var(--color-text-hyperlink);

  &:visited {
    color: var(--color-text-hyperlink-visited);
  }
}
