.text {

  &.start {
    text-align: start;
  }

  &.center {
    text-align: center;
  }

  &.end {
    text-align: end;
  }

  &.indent-1 {
    padding-left: 1em;
  }

  &.primary {
    color: var(--color-text-primary);
  }

  &.accent {
    color: var(--color-text-accent);
  }

  &.warn {
    color: var(--color-text-warn);
  }

}

.text-white {
  color: white;
}

.text-mute {
  color: var(--color-text-muted);
}
