.text {

  &.start {
    text-align: start;
  }

  &.center {
    text-align: center;
  }

  &.end {
    text-align: end;
  }

  &.indent-1 {
    padding-left: 1em;
  }

  &.primary {
    color: var(--color-text-primary);
  }

  &.accent {
    color: var(--color-text-accent);
  }

  &.warn {
    color: var(--color-text-warn);
  }

  &.dialog-title {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.2em;
  }

  &.title {
    font-size: 1.5em;
    font-weight: 500;
  }

  &.subtitle {
    font-size: 1.3em;
  }

}

.text-white {
  color: white;
}

.text-mute {
  color: var(--color-text-muted);
}
