@use '../../../styles/variables';

.isru-layout {
  margin-top: 1em;

  display: grid;
  gap: 1em;

  @media screen and (min-width: variables.$query-mobile-width) {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;

    > div.text.subtitle {
      grid-column: 1/-1;
    }
  }
}
