<div [@height]="isOpen"
     class="stack panel-layout"
     [class.hide-borders]="!isOpen"
     [class.display-panel]="initialized"
     [matTooltip]="'\'Buy Me a Coffee\' supporters help to keep this app in orbit'"
     [matTooltipClass]="'tooltip-base-panel'">

  <div class="panel-button" *ngIf="isOpen">
    <button mat-icon-button
            (click)="buttonClosePanel()">
      <mat-icon [svgIcon]="icons.ChevronDown"></mat-icon>
    </button>

    <button mat-icon-button
            (click)="openCoffeeDialog()">
      <mat-icon [svgIcon]="icons.Coffee"></mat-icon>
    </button>
  </div>

  <div class="panel-space" id="placementSpace">

    <div *ngIf="nothingToDisplay" class="need-support-message">
      <h3>This website needs your support</h3>

      <div>Please consider disabling ad blockers, or supporting on</div>
      <a href="https://www.buymeacoffee.com/Blaarkies">Buy Me a Coffee</a>
      <div>to remove all ads and unlock premium features.</div>
    </div>
  </div>

</div>
