.panel-layout {
  width: max-content;
  height: max-content;

  position: relative;
  overflow: visible !important;

  border: 1px solid #fff4;
  border-radius: 4px;
  padding: 2px;
  background-color: #fff3;

  opacity: 0;
  display: none;
  transition: 1s;

  transform: translateY(3px);
}

.panel-button {
  color: var(--color-icon-white);

  position: absolute;
  top: -35px;
  background-color: #fff3;
  border-radius: 8px;
  padding: 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
}

.panel-space {
  background-color: var(--color-background-card);
  color: var(--color-text);

  width: 260px;
  height: 300px;
  max-width: 260px;
  max-height: 300px;
  overflow: auto;
}

@media screen and (max-width: 600px), (max-height: 800px) {
  .panel-space {
    width: 180px;
    height: 220px;
    max-width: 180px;
    max-height: 220px;
  }
}

.hide-borders {
  border: unset;
  padding: unset;
}

.display-panel {
  opacity: 1;
  display: block;
}

.need-support-message {
  text-align: center;
  margin: 10px;
}
