.desktop-layout {
  margin-top: -20px;
}

.handset-layout {
  background-color: var(--color-background-card);
  padding-right: 4px;
  padding-top: 8px;
  height: 100vh;

  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: calc(100vw - 4px);

  .search-header-container {
    position: sticky;
    top: 0;
    padding-bottom: 8px;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
  }

  > :last-child {
    margin-top: -20px;
    overflow: scroll;
  }
}
