<ng-container *ngFor="let trajectory of trajectories; trackBy: getTrajectoryKey">
  <svg
    class="overflow-visible position-absolute trajectory-line"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    @fade
  >

    <defs>
      <marker id="head"
              orient="auto"
              markerWidth="3"
              markerHeight="3"
              refX="6"
              refY="1.1">
        <path d="M 0 2 L 1 1 L 0 0"
              fill="none"
              stroke="#fc4"
              stroke-width=".5"/>
      </marker>
      <marker id="tail"
              orient="auto"
              markerWidth="3"
              markerHeight="3"
              refX="-4"
              refY="1.1">
        <path d="M 0 2 L 1 1 L 0 0"
              fill="none"
              stroke="#fc4"
              stroke-width=".5"/>
      </marker>
    </defs>

    <path *ngIf="trajectory.b"
          marker-end="url(#head)"
          marker-start="url(#tail)"
          [attr.stroke-width]=".06 * inverseScale"
          [attr.stroke]="'#fa0' + 'A'"
          fill="none"
          stroke-linecap="round"
          [attr.d]="getPath(trajectory)"
    />
  </svg>

  <mat-icon class="icon-map-marker geo-markers"
            [svgIcon]="icons.MapMarker"
            @fade
            [style.left.%]="worldViewScale * trajectory.a.location.x"
            [style.top.%]="worldViewScale * trajectory.a.location.y"
  >
    <span class="trip-index"
          xmlns="http://www.w3.org/1999/xhtml"
          [style.--margin-index]="tripIndexMarginMap[trajectory.sequence]">
      {{ trajectory.sequence }}
    </span>
  </mat-icon>
</ng-container>

<mat-icon class="icon-map-marker mouse-location-marker"
          [svgIcon]="icons.AddMapMarker"
          @fade
          *ngIf="isAddingCheckpoint && (mouseLocation$ | async); let mouseLocation"
          [style.left.px]="mouseLocation.x"
          [style.top.px]="mouseLocation.y"
></mat-icon>
