<div class="panel-layout frosted-glass">
  <div class="panel-header">
    <div class="text-white">Mission Checkpoints</div>
    <button mat-icon-button
            [matTooltip]="'Preferences'"
            matTooltipPosition="left"
            (click)="toggleOptions()">
      <mat-icon [svgIcon]="icons.Configure"></mat-icon>
    </button>
  </div>

  <div [@expandY]="isOptionsOpen" class="options text-white">
    <div class="text-white">Preferences</div>

    <div class="error-margin-control">
      <cp-input-number #errorMargin
                       class="hidden" style="transform: translateY(-1em);"
                       [formControl]="errorMarginControl"
                       [controlMeta]="errorMarginControlMeta"></cp-input-number>

      <button mat-button
              class="chip-button"
              (click)="errorMargin.focus()">
        {{errorMarginControl.value}}%
      </button>
      <div class="text-white">Margin of Error</div>
    </div>

    <cp-input-toggle class="checkbox-aerobraking"
                     label="Aerobraking"
                     [formControl]="aerobrakeControl"></cp-input-toggle>

    <div class="plane-change-control"
         matTooltip="Adds the cost of orbital plane changes">
      <cp-input-number #planeChange
                       class="hidden" style="transform: translateY(-1em);"
                       [formControl]="planeChangeControl"
                       [controlMeta]="planeChangeControlMeta"></cp-input-number>

      <button mat-button
              class="chip-button"
              (click)="planeChange.focus()">
        {{planeChangeControl.value}}%
      </button>
      <div class="text-white">Plane Change Cost</div>
    </div>

    <div class="flight-situation"
         matTooltip="Set the default situation">
      <mat-menu #menuSituation="matMenu" class="menu-vertical buttons-left">
        <button mat-button
                *ngFor="let condition of availableConditions"
                (click)="setPreferredCondition(condition)">
          {{conditionReadableMap[condition]}}
        </button>
      </mat-menu>

      <button mat-button
              class="chip-button"
              [matMenuTriggerFor]="menuSituation">
        {{conditionReadableMap[preferredCondition$.value.toString()]}}
      </button>

      <div class="text-white">Flight Situation</div>
    </div>

    <div class="route-type"
         matTooltip="Efficient routes may include extra destinations to decrease dv cost">
      <mat-menu #menuRoute="matMenu" class="menu-vertical buttons-left">
        <button mat-button
                *ngFor="let routeType of routeTypes"
                (click)="setRouteType(routeType)">
          {{routeTypeReadableMap[routeType]}}
        </button>
      </mat-menu>

      <button mat-button
              class="chip-button"
              [matMenuTriggerFor]="menuRoute">
        {{routeTypeReadableMap[routeType$.value.toString()]}}
      </button>

      <div class="text-white">Route Type</div>
    </div>
  </div>

  <cp-msp-list-manager #list
               [checkpoints]="checkpoints$ | async"
               [isAddingCheckpoint]="isSelectingCheckpoint$ | async"
               (add)="addCheckpoint(list.isAddingCheckpoint)"
               (checkpointMode)="setCheckpointMode($event)"
               (resetAll)="resetMission()"
               (removeNode)="removeCheckpoint($event)"
               (updateNode)="updateCheckpoint($event)"
               (updateAll)="updateMission($event)">
  </cp-msp-list-manager>
</div>
