@use '../../../../../styles/variables' as queries;

.section-header {
  align-items: center;
  display: flex;
  gap: 1ch;
  width: auto;

  > :last-child {
    margin-left: auto;
  }
}

.list-styling {
  --list-divider-color: #8883;

  .header-list-option {
    cursor: pointer;
    user-select: none;

    &:nth-child(n + 2) {
      border-top: 1px solid var(--list-divider-color);
    }
  }

  .mobile-padding-holder {
    @media screen and (max-width: queries.$query-mobile-width) {
      border-top: 1px solid var(--list-divider-color);
      height: 60px;
    }
  }
}
