.input-field-component {
  max-width: 210px;
  padding-top: 6px;

  .no-spinner-arrows {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  span {
    color: var(--color-text-muted);
  }

  .pad-right {
    margin-right: 8px;
  }

  .clear-button {
    opacity: 0;
    margin-left: 8px;
    font-size: 1.4em !important; // overrides mat-button
    transition: .25s ease-in;
  }

  &.transition {
    transition: opacity .3s ease-out,
    color .2s ease-in,
    caret-color .2s ease-in,
    background-color .2s ease-in;
  }

  input {
    color: var(--color-text);
  }

  &.disabled {
    opacity: .7;
  }

  &.error-blink {
    input {
      caret-color: #f007 !important;
      color: #f007 !important;
    }

    .mat-form-field-underline,
    .mat-form-field-ripple {
      background-color: #f007 !important;
    }
  }

}

.small {
  width: 60px;
}

.normal {
}
