<mat-form-field class="input-field-component transition"
                appearance="outline"
                [color]="color"
                [class.disabled]="disabled"
                [class.error-blink]="errorBlink$ | async">
  <mat-label *ngIf="label !== null">{{label}}</mat-label>
  <input #input
         matInput
         [type]="type"
         (focus)="isActive = true; touch()"
         (blur)="isActive = false" />
  <mat-hint [@fade]
            *ngIf="hint && (value === null || value === '')">{{hint}}</mat-hint>
  <span [@fade]
        *ngIf="suffix !== null"
        matSuffix
        class="pad-right">
    {{suffix}}
  </span>
  <button *ngIf="allowClear"
          class="clear-button"
          [class.visible]="value !== null && value !== ''"
          matSuffix
          mat-icon-button
          (click)="clear()">
    <mat-icon [svgIcon]="icons.Backspace" color="muted"></mat-icon>
  </button>
</mat-form-field>

<cp-validation-message [fieldName]="label" [errors]="errors"></cp-validation-message>
