@use "../../../../styles/variables";
@use '../../../../styles/common';

:host {
  @extend .widget-details;
}


.parts-listed {
  display: grid;
  grid-template-columns: max-content auto max-content;
  gap: 0 2ch;
  align-items: center;
  margin-bottom: 16px;

  cp-input-select {
    grid-column: 1/-1;
  }

  cp-input-number {
    height: 50px;
  }
}


