<div class="text subtitle">{{title}}</div>

<div class="parts-listed">
  <cp-input-select
    label="Add Part"
    [formControl]="controlAddPart"
    [mapIcons]="partIcons"
    [options]="partOptions"
  ></cp-input-select>

  <ng-container *ngFor="let entry of craftPartsEntries">
    <cp-input-number
      class="small-number-width"
      [label]="null"
      [formControl]="entry.control"
      [controlMeta]="defaultControlMeta"
    ></cp-input-number>

    <div>{{entry.part.label}}</div>

    <button
      class="dim-until-hover"
      mat-icon-button
      color="warn"
      (click)="removeEntry(entry)"
    >
      <mat-icon [svgIcon]="icons.Delete"></mat-icon>
    </button>
  </ng-container>
</div>


