.panel-layout {
  color: white;

  background-color: #779c;
  min-height: 400px;
  padding: 8px;

  display: grid;
  grid-auto-rows: max-content;
  gap: 4px;

  --border-radius: 12px;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

  transform: scale(1.5) translateX(-25%);
}
