.preferences-layout {

  display: grid;
  gap: 1em;

  .analytics-info-section {
    display: flex;
    align-items: center;
    gap: 1ch;

    button {
      border-radius: 50px;
      min-height: unset;
      min-width: unset;
      padding: 4px;
    }
  }

  .space-for-toggle {
    margin-bottom: 2px;
  }

}
