<mat-form-field appearance="outline" class="limit-width">
  <mat-label>{{label}}</mat-label>
  <mat-select (selectionChange)="userInputChange($event.value)"
              (opened)="inputRef.focus()"
              (closed)="clearSearch(inputRef)"
              panelClass="filter-select"
              [multiple]="false"
              [disabled]="disabled">
    <div class="search-box stack" #searchBox>
      <cp-input-field #inputRef
                      label="Search"
                      class="no-validation-message"
                      color="accent"
                      (keydown)="$event.stopPropagation()"
                      (output)="searchValue$.next($event)">
      </cp-input-field>
      <button class="position-right"
              mat-icon-button
              disableRipple
              (click)="clearSearch(inputRef)">
        <mat-icon color="none" [svgIcon]="icons.Backspace"></mat-icon>
      </button>
    </div>

    <div class="option-container" *ngFor="let option of filteredOptions">
      <mat-icon *ngIf="mapIcons?.get(option.value); let icon" color="accent" [svgIcon]="icon"></mat-icon>
      <mat-option [class.has-icon]="mapIcons?.get(option.value)"
                  [value]="option.value">
        {{option.label}}
      </mat-option>
    </div>

    <mat-option *ngIf="!filteredOptions?.length" disabled>No Options</mat-option>
  </mat-select>
  <mat-hint [@fade] *ngIf="value === null && hint">{{hint}}</mat-hint>
</mat-form-field>
