.limit-width {
  max-width: 210px;
}

.search-box {
  overflow: hidden;
  background: var(--color-background-description);
  position: sticky;
  top: 0;
  z-index: 1;

  .fix-width {
    display: flex;
    max-width: 200px;
  }
}

.no-validation-message {
  height: 48px;
  padding-bottom: 4px;
}

.position-right {
  overflow: hidden;
  justify-self: end;
  transition: .3s ease-in;

  &:active {
    background-color: #0003;
  }
}

.option-container {
  position: relative;
  display: grid;

  mat-icon {
    position: absolute;
    align-self: center;
    padding: 0 4px;
  }

  mat-option.has-icon {
    padding-left: 36px;
    padding-top: 2px;
  }
}
