<div #backboard class="text-white">

  <div class="stars-background"
       [style.background-position-x.px]="cameraLocationSig().x * .2"
       [style.background-position-y.px]="cameraLocationSig().y * .2"
       [style.background-size.px]="1000"
  ></div>

  <cp-camera #camera>

    <ng-content select="[aboveBackground]"></ng-content>

    @for (pair of orbits; track pair.orbit.toJson()) {
      @if (pair.type !== planetoidType.Moon || showMoonsSig()) {
        <cp-orbit-line @fade [orbit]="pair.orbit"/>
      }
    }

    <ng-content select="[aboveOrbits]"></ng-content>

    @for (body of bodies; track body.id) {
      @if (body.planetoidType !== planetoidType.Moon || showMoonsSig()) {
        <cp-draggable-space-object
          @fade
          [spaceObject]="body"
          (dragSpaceObject)="startBodyDrag(body, $event, backboard, camera)"
          cpMouseHover (hoverChange)="hoverBody.emit({body: body, hover: $event})"
          (focusObject)="focusBody(body, $event)"
          [showEdit]="editPlanetoid.observed"
          (editSpaceObject)="editPlanetoidWithDialog(body)"
        >
          <div
            class="div-as-image"
            draggable="false"
            [style.background]="body.draggable.imageUrl"
            [style.width.px]="body.size"
            [style.height.px]="body.size"
          ></div>
        </cp-draggable-space-object>

        <cp-soi-circle [body]="body"></cp-soi-circle>
      }
    }

    <ng-content select="[abovePlanets]"></ng-content>

  </cp-camera>

</div>
