<div #screen class="text-white">

  <cp-camera #camera>

    <ng-content select="[aboveBackground]"></ng-content>

    <ng-container *ngFor="let orbit of orbits$ | async">
      <cp-orbit-line [@animateFade]
                     *ngIf="orbit.type === spaceObjectTypes.Planet
                         || orbit.type === spaceObjectTypes.Star
                         || camera.scale > scaleToShowMoons"
                     [orbit]="orbit"
                     [scale]="camera.scale"></cp-orbit-line>
    </ng-container>

    <ng-content select="[aboveOrbits]"></ng-content>

    <ng-container *ngFor="let body of celestialBodies$ | async">
      <cp-draggable-space-object [@animateFade]
                                 *ngIf="body.type === spaceObjectTypes.Planet
                                     || body.type === spaceObjectTypes.Star
                                     || camera.scale > scaleToShowMoons"
                                 [spaceObject]="body"
                                 [scale]="camera.scale"
                                 (dragSpaceObject)="startBodyDrag(body, $event, screen, camera)"
                                 cpMouseHover (hoverChange)="hoverBody.emit({body: body, hover: $event})"
                                 (focusObject)="focusBody(body, $event)"
                                 [allowEdit]="allowEdit"
                                 (editSpaceObject)="editCelestialBody(body)">
        <div class="div-as-image"
             draggable="false"
             [style.background]="body.draggableHandle.imageUrl"
             [style.width.px]="body.size"
             [style.height.px]="body.size"></div>

        <cp-soi-circle [scale]="camera.scale"
                       [body]="body"></cp-soi-circle>
      </cp-draggable-space-object>
    </ng-container>

    <ng-content select="[abovePlanets]"></ng-content>

  </cp-camera>

</div>
