.state-display-layout {
  display: grid;
  --gap: 6px;

  > :nth-child(n + 2) {
    border-top: 1px solid rgba(var(--color-rgb-border-simple), .5);
    padding-top: var(--gap);
    margin-top: var(--gap);
  }

  .property-line {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
}
