<div mat-dialog-content class="sign-in-layout">
  <div class="text dialog-title">Sign Up and Sign In</div>

  <img class="app-image" src="../../../../assets/logos/ksp-visual-calculator-text-black.webp">

  <div class="email-inputs-container">
    <cp-reasons-to-sign-up></cp-reasons-to-sign-up>

    <div class="input-container">
      <mat-icon [svgIcon]="icons.Email"></mat-icon>
      <cp-input-field label="Email Address"
                      [formControl]="controlEmail"
                      [errors]="controlEmail.dirty && controlEmail.errors"></cp-input-field>
    </div>

    <div class="input-container">
      <mat-icon [svgIcon]="icons.Password"></mat-icon>
      <cp-input-field label="Password"
                      [type]="passwordVisible ? 'text' : 'password'"
                      [formControl]="controlPassword"
                      [errors]="controlPassword.dirty && controlPassword.errors"></cp-input-field>
      <button mat-icon-button
              (click)="passwordVisible = !passwordVisible">
        <mat-icon [svgIcon]="passwordVisible ? icons.Visible : icons.Invisible"></mat-icon>
      </button>
    </div>

    <button mat-button
            class="forgot-password link"
            [disabled]="controlEmail.invalid"
            (click)="forgotPassword()">
      Forgot password?
    </button>

    <div class="policy-layout">
      <cp-input-toggle label="I agree to the" [formControl]="controlPolicy"></cp-input-toggle>
      <a href="https://ksp-visual-calculator.blaarkies.com/policy" target="_blank">Privacy Policy</a>
    </div>
  </div>

  <div class="sign-in-button-email-container"
       [matTooltip]="'Please check the Privacy Policy to continue'"
       [matTooltipDisabled]="controlPolicy.valid">
    <button mat-stroked-button
            class="button-loader"
            (click)="signInWithEmailAddress()"
            [disabled]="controlEmail.invalid
                        || controlPassword.invalid
                        || controlPolicy.invalid
                        || (signingInWithEmail$ | async)"
            [matTooltip]="'A new account will automatically be created'">
      <mat-icon [svgIcon]="icons.Email"></mat-icon>
      <span>Sign in with email address</span>
    </button>
    <mat-progress-bar @fade *ngIf="signingInWithEmail$ | async" mode="indeterminate"></mat-progress-bar>
    <mat-error @fade *ngIf="emailSignInError$ | async as errorMessage">{{errorMessage}}</mat-error>
  </div>

  <div class="sign-in-button-google-container"
       [matTooltip]="'Please check the Privacy Policy to continue'"
       [matTooltipDisabled]="controlPolicy.valid"
       matTooltipPosition="above">
    <button mat-stroked-button
            class="button-loader"
            [disabled]="controlPolicy.invalid || (signingInWithGoogle$ | async)"
            (click)="signInWithGoogle()">
      <img class="google-g-logo" src="../../../../assets/logos/google-g.svg"/>
      <span>Sign in with Google</span>
    </button>
    <mat-progress-bar @fade *ngIf="signingInWithGoogle$ | async" mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<mat-divider class="separate-deferral"></mat-divider>

<div mat-dialog-actions class="call-to-deferral">
  <span class="text-mute deferral-description">Or sign in later, using the profile icon in the top-right corner</span>
  <button mat-stroked-button
          mat-dialog-close
          color="primary">
    Later
  </button>
</div>
