.layout {
  height: 100%;
}

.toolbar {
  background-color: #8bc34a;
  width: max-content;
  height: max-content;
  border-bottom-right-radius: 30px !important;
  border-top-left-radius: 0 !important;
}

.center-title-line {
  display: flex;
  align-items: center;
}

.route-list-background {
  background-color: #0002;
  filter: blur(10px);
}

.route-link {
  padding-left: 20px !important;
}

.route-button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  mat-icon {
    color: white;
    justify-self: end;
  }
}

.toolbar-text {
  color: white !important; // expansion-panel forces gray color here
}

.toolbar-content {
  background-color: aqua;
}

.mat-expansion-panel-body {
  padding: unset !important; // remove extra padding
}
