.profile-image {
  border-radius: 100px;
  height: 32px;
  border: 2px solid #fff7;
}

.animate-flashing {
    animation: kf-animate-fade-in 1.1s infinite alternate ease-out;
}

.guest-icon {
  color: white;
}
