<ng-container *ngIf="authService.user$ | async as user; then authenticated else guest"></ng-container>

<ng-template #guest>
  <button class="animate-flashing"
          mat-icon-button
          (click)="$event.stopPropagation(); openAccountDialog()"
          [matTooltip]="'Go to sign up page'">
    <mat-icon>{{icons.Guest}}</mat-icon>
  </button>
</ng-template>

<ng-template #authenticated>
  <ng-container *ngIf="authService.user$ | async as user">
    <button mat-icon-button
            (click)="$event.stopPropagation(); openAccountDialog()"
            [matTooltip]="'Account Details'">
      <img class="profile-image" [attr.src]="user.photoURL || 'assets/guest-account.png'"/>
    </button>
  </ng-container>
</ng-template>
