.profile-image {
  border-radius: 100px;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  border: 2px solid var(--color-icon-none);

  img, mat-icon {
    width: var(--size);
    height: var(--size);
  }
}

.animate-flashing {
  animation: kf-animate-fade-in 3s infinite alternate ease-out;
}
