.animate-badge {
  z-index: -1;
  animation: kf-animate-opacity-wobble 4s linear infinite forwards;
}

@keyframes kf-animate-opacity-wobble {
  0% {opacity: 0}
  25% {opacity: 1}
  45% {opacity: 1}
  50% {opacity: .5}
  60% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0}
}

button {
  color: white !important;
}

.green {
  background-color: var(--color-background-panel-green);
}

.cosmic-blue {
  background-color: var(--color-background-panel-cosmic-blue);
}

.orange {
  background-color: var(--color-background-panel-orange);
}
