.animate-badge {
  --animate-opacity-wobble-0: .2;
  --animate-opacity-wobble-1: 1;
  animation: kf-animate-opacity-wobble 2s infinite alternate forwards;
  animation-timing-function: var(--timing-function-cubic-out);
}

button {
  color: white !important;

  box-shadow: var(--claymorph-simple) !important;
}

.green {
  background-color: var(--color-background-panel-green) !important;
}

.cosmic-blue {
  background-color: var(--color-background-panel-cosmic-blue) !important;
}

.orange {
  background-color: var(--color-background-panel-orange) !important;
}

.unread-item {
  z-index: -1;

  > span {
    margin: 12px 2px 0 0;
  }
}
