<div class="layout">

  <div class="number-stat"
       *ngFor="let stat of displayStats">
    <div>{{stat.label}}</div>
    <div>{{stat.value}}</div>
  </div>

  <div class="label-and-value"
       [matTooltip]="'Indicates how much of the total signal power is derived from relay antennae'">
    <div>Relay Bias</div>
    <div class="number-line">
      <mat-progress-bar color="primary" [value]="(stats?.relayBias || 0) * 100"></mat-progress-bar>
      <div>{{(stats?.relayBias || 0) | number : '1.2-2'}}</div>
    </div>
  </div>

  <div class="label-and-value"
       [matTooltip]="'Indicates the diminishing returns from adding more antennae to this craft'">
    <div>Average Combinability Exponent</div>
    <div class="number-line">
      <mat-progress-bar color="primary" [value]="(stats?.averageCombinabilityExponent || 0) * 100"></mat-progress-bar>
      <div>{{(stats?.averageCombinabilityExponent || 0) | number : '1.2-2'}}</div>
    </div>
  </div>

</div>
