<div class="layout">

  <div class="number-stat"
       *ngFor="let stat of displayStats">
    <div>{{stat.label}}</div>
    <div>{{stat.value}}</div>
  </div>

  <div class="label-and-value">
    <div>Relay Bias</div>
    <div class="number-line">
      <mat-progress-bar color="primary" [value]="stats.relayBias * 100"></mat-progress-bar>
      <div>{{stats.relayBias | number : '1.2-2'}}</div>
    </div>
  </div>

  <div class="label-and-value">
    <div>Average Combinability Exponent</div>
    <div class="number-line">
      <mat-progress-bar color="primary" [value]="stats.averageCombinabilityExponent * 100"></mat-progress-bar>
      <div>{{stats.averageCombinabilityExponent | number : '1.2-2'}}</div>
    </div>
  </div>

</div>
