<div #cameraController
     class="camera-controller"
     (mousewheel)="updateScale($event)"
     (mousedown)="startMove($event, cameraController)"
     (contextmenu)="$event.shiftKey || $event.preventDefault()"
>

  <div style="color: #F004;
  font-weight: lighter;
  position: absolute;
  font-size: 30px;
  margin-left: -10px;
  margin-top: -10px;"
       [style.left.px]="cameraService?.screenCenterOffset?.x"
       [style.top.px]="cameraService?.screenCenterOffset?.y"
  >
    ⁘
  </div>

  <div style="position: absolute; top: 100px">
    location-x: {{cameraService?.location?.x | number:'.1-1'}} <br>
    location-y: {{cameraService?.location?.y | number:'.1-1'}} <br>
    scale: {{cameraService?.scale | number:'.2-2'}} <br>
  </div>

  <div #screenSpace
       class="screen-space overlap-container"
       [style.left.px]="location.x"
       [style.top.px]="location.y">
    <ng-content></ng-content>
  </div>
</div>
