<div #cameraController
     class="camera-controller"
     [style.background-position-x.px]="location.x * .2"
     [style.background-position-y.px]="location.y * .2"
     [style.background-size.px]="3e3 * scale.pow(.1)"
     (wheel)="updateScale($event)"
     (mousedown)="mouseDown($event, cameraController)"
     (touchstart)="touchStart($event, cameraController)"
     (contextmenu)="$event.shiftKey || $event.preventDefault()">

  <div #screenSpace
       class="screen-space overlap-container"
       [style.left.px]="location.x"
       [style.top.px]="location.y">
    <ng-content></ng-content>
  </div>

  <cp-zoom-indicator class="no-mouse"
                     [zoomLimits]="cameraZoomLimits"
                     [cameraScale]="scale"
                     [moonScale]="scaleToShowMoons"></cp-zoom-indicator>

</div>

