.camera-controller {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  content: "";
  // https://line.17qq.com/articles/ibeiiebz.html
  background:
    // tints the background darker, so that camera zooming is more bearable on the user's eyes
    linear-gradient(#000000B0, #000000B0),
    url('/assets/stars-background-hi-res.jpg'); // todo: fix path issue to file from scss files
  background-repeat: repeat;
}

.screen-space {
  //transition: .05s;

  position: absolute;
  width: 100%;
  height: 100%;
}

.no-mouse {
  pointer-events: none;
}
