.camera-controller {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.screen-space {
  transition: .05s;
  outline: 1px dashed #0FF7;

  position: absolute;
  width: 100%;
  height: 100%;
}
