<div
  #cameraController
  class="ether"
  [style.width.px]="backboardScale * scale"
  [style.height.px]="backboardScale * scale"
  [style.left.px]="location.x"
  [style.top.px]="location.y"
  (wheel)="updateScale($event)"
  (mousedown)="mouseDown($event, cameraController)"
  (touchstart)="touchStart($event, cameraController)"
  (contextmenu)="$event.shiftKey || $event.preventDefault()"
>

  <pre style="position: fixed; inset: 0 0; margin-top: 50px">
    scale:    {{scale.toString().toNumber().toPrecision(3)}}
    location: {{location.x.toInt() + ' : ' + location.y.toInt()}}
  </pre>

  <div #screenSpace class="screen-space stack">
    <ng-content></ng-content>

  </div>

</div>

