:host {
  position: relative;
}

.pleat-layout {
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.keep-right {
  position: absolute;
  right: 0;
  bottom: -16px;
  z-index: 1;
}
