<div mat-dialog-content class="analytics-dialog-layout">
  <div class="text dialog-title">Anonymous Usage Tracking</div>

  <span class="usage-data-explained">

    This application tracks anonymous usage data.
    Simple actions are recorded as anonymized data before it is sent to the server. Typical actions include:
    <ul>
      <li>Moving a planet</li>
      <li>Adding checkpoints in the Delta-V calculator</li>
      <li>Adjusting a craft's antennae type or amount</li>
      <li>Using keyboard shortcuts such as <code>Tab</code> to focus planets</li>
      <li>etc.</li>
    </ul>

    <p>This data helps me determine which features should be prioritized.</p>

    <p>No user data will ever be collected in anonymized data.</p>

    <p>You can opt-out with the toggle below.</p>
  </span>

  <cp-input-toggle
    label="Track anonymous actions"
    color="primary"
    type="switch"
    [formControl]="trackingControl"
  >
  </cp-input-toggle>
</div>

<div mat-dialog-actions>
  <button color="primary"
          mat-stroked-button
          [mat-dialog-close]>
    OK
  </button>
</div>
