.details-layout {
  display: grid;
  grid-template-columns: auto max-content;
  overflow-x: hidden;

  .dialog-title {
    grid-column: 1 / 3;
    margin-bottom: 16px;
  }
}

.display-details-layout {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;

  .avatar-section {
    display: grid;
    position: relative;

    .avatar-layout {
      justify-self: center;

      width: 100px;
      height: 100px;
      overflow: hidden;
      padding: 2px;

      border: 1px solid var(--color-text-primary);
      border-radius: 12px;

      .premium-sash {
        background-color: var(--color-background-panel-green-opaque);
        box-shadow: 0 0 1px 1px white;
        height: 20px;
        width: max-content;
        padding: 0 40px;
        color: white;

        transform: translate(-30%, 100%) rotate(-45deg);
      }
    }

    .open-edit-button {
      position: absolute;
      right: 0;
      align-self: center;
    }
  }

  .user-details {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.edit-details-section {
  margin-left: 10px;
  display: flex;
  gap: 20px;

  cp-account-edit-details {
    min-width: max-content;
  }

  mat-divider {
    height: 100%;
  }
}

.input-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  gap: 14px;
  margin-bottom: 18px;

  mat-icon {
    color: var(--color-icon-muted);
  }

  cp-input-field {
    height: 48px;
  }
}

.sign-in-layout {
  display: grid;
  gap: 20px;

  .promote-sign-in {
    color: var(--color-text-muted);
    margin-bottom: -20px;

    .reasons-header {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-items: center;

      position: relative;

      .promote-reasons {
        position: absolute;
        top: 100%;

        margin: 0px -20px;
        background-color: var(--color-background-description);
        color: var(--color-text-primary);
        z-index: 1;

        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        ul {
          margin-left: 1em;
        }

        div {
          margin-left: .3em;
        }

        &.is-open {
          border: 1px solid #0003;
          border-top: none;
        }

        .reasons-container {
          padding: 10px 4px;
        }
      }
    }
  }

  ul {
    margin: 0;
    padding-left: 1.4em;
  }
}

.app-image {
  height: 100px;
  justify-self: center;

  background: #fff4;
  border-radius: 100px;
  padding: 10px;
}

.email-inputs-container {
  display: grid;
  width: max-content;
  margin: auto;
}

.link {
  color: var(--color-text-hyperlink);

  border-radius: 10px;
  padding: 0 4px;
  margin: 0;
  line-height: unset;
  font-weight: 400;
  font-size: 0.9em;
}

.forgot-password {
  justify-self: end;
  text-decoration: none;
}

.sign-in-button-email-container {
  display: grid;
  align-items: center;
  gap: 6px;

  mat-icon {
    color: var(--color-icon-muted);
    margin-right: 6px;
  }
}

.sign-in-button-google-container {
  display: grid;
}

.button-loader {
  mat-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.google-g-logo {
  margin-right: 6px;
  height: 1.5em;
}

[mat-dialog-actions] {
  grid-template-columns: auto max-content;
}

.description {
  width: 32ch;
  padding: 16px 0;
  margin-right: 4px;
  justify-self: end;
}

.policy-layout {
  display: flex;
  gap: .4em;
  align-items: center;
  padding-left: 4px;
}
