<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Antennae">

    <div class="antenna-selector-layout">
      <div @height
           *ngFor="let antennaInput of antennaInputs"
           [id]="antennaInput.selectedAntenna.label"
           class="selected-antenna">

        <cp-input-field label="Antenna Type"
                        [formControl]="antennaInput.antennaControl"></cp-input-field>

        <cp-input-number label="Count"
                         [min]="1"
                         [matTooltip]="'Defines how many of these antennae are on the craft'"
                         [formControl]="antennaInput.countControl"
                         [errors]="antennaInput.countControl.touched && antennaInput.countControl.errors"
                         widthClass="small"
                         (output)="userInputChange()"></cp-input-number>

        <button mat-icon-button
                class="dim-until-hover"
                [matTooltip]="'Remove this antenna'"
                (click)="removeAntenna(antennaInput)"
                [disabled]="disabled">
          <mat-icon color="warn" [svgIcon]="icons.Delete"></mat-icon>
        </button>
      </div>

      <cp-input-select *ngIf="availableOptions.length"
                       class="span-row"
                       label="Antenna Type"
                       hint="Add new antenna"
                       [options]="availableOptions"
                       [mapIcons]="mapIcons"
                       [formControl]="finalControl"></cp-input-select>
    </div>
  </mat-tab>

  <mat-tab label="Statistics">
    <cp-antenna-stats></cp-antenna-stats>
  </mat-tab>
</mat-tab-group>
