mat-tab-header {
  margin-bottom: 10px;
}

.antenna-selector-layout {
  overflow: hidden;

  display: grid;
  gap: 16px;

  --input-gap: 10px;

  .selected-antenna {
    display: flex;

    >:first-child {
      margin-right: var(--input-gap);
    }

    cp-input-number mat-form-field {
      width: 60px;
    }
  }

}
