<div
  class="focus-layout frosted-glass"
  [cpMouseHover]="100" (hoverChange)="setIsOpen($event)"
  [@openCloseX]="isOpenSig()"
>

  <div class="panel">

    @for (item of listSig(); track item.label) {
      <button
        #button
        mat-button
        [tabindex]="-1"
        class="justify-left"
        (click)="item.itemAction()"
        [matTooltip]="item.label"
        [matTooltipDisabled]="item.label.length < 8"
        mat-ripple
      >
        <div class="item-layout" [class.is-selected]="item.isSelected">
          <mat-icon [svgIcon]="item.icon"/>
          <div>{{ item.label }}</div>
        </div>
      </button>
    }

  </div>
</div>
