:host {
  width: max-content;
  display: block;
}

.focus-layout {
  --width: 150px;
  width: var(--width);

  --height: 290px;
  height: var(--height);

  --border-radius: 16px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  overflow: hidden;

  // use panel to keep scrollbar from translating during animation
  .panel {
    width: var(--width);
    height: calc(var(--height) - 12px);

    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    background-color: #6662;

    display: grid;
    gap: 6px;
    padding-block: 6px;
  }

  .justify-left {
    justify-content: left;
  }

  .item-layout {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 10px;
    align-items: center;

    margin-left: 6px;
    color: rgba(var(--color-rgb-text-white), .7);

    div {
      font-size: 1.3em;
      text-overflow: ellipsis;
    }
  }
}
