@use '../../../styles/text';

.bottom-sheet-title {
  @extend .text;
  @extend .subtitle;
  margin-top: 12px;
  margin-left: 12px;
  font-weight: 500;
}

.bottom-sheet-panel {
  &.green {
    --background-color: var(--color-background-panel-green);
  }

  &.orange {
    --background-color: var(--color-background-panel-orange);
  }

  &.cosmic-blue {
    --background-color: var(--color-background-panel-cosmic-blue);
  }

  mat-bottom-sheet-container {
    background: var(--background-color) !important;
    color: white !important;

    @media screen and (orientation: landscape) {
      min-width: 400px;
    }
  }

  // TODO: Only 4 items are displayed in landscape orientation. Touch devices cannot scroll this list.
}
