.bottom-sheet-title {
  margin: 12px 12px 0;
  font-size: 1.2em;
  font-weight: 500;
}

.bottom-sheet-panel {
  padding: 0;

  &.green {
    --background-color: var(--color-background-panel-green);
  }

  &.orange {
    --background-color: var(--color-background-panel-orange);
  }

  &.cosmic-blue {
    --background-color: var(--color-background-panel-cosmic-blue);
  }

  mat-bottom-sheet-container {
    background: var(--background-color) !important;
    color: white !important;
  }
}
