.coffee-layout {

  .support-explained {
    max-width: 400px;

    display: grid;

    button {
      padding: unset;
      height: auto;
      overflow: hidden;

      .image-wrapper {
        background: #fff7;
        display: grid;

        img {
          place-self: center;
          padding: 10px;
          max-width: 75%;
        }
      }
    }
  }

  .after-click {
    max-width: 400px;
    margin-top: 1em;

    .premium-list {
      margin: 0;
    }
  }
}
