.pane-marker {
  z-index: 1;
  pointer-events: none;
  position: absolute;

  // background oscillates color from dark to bright with transparency
  animation: kf-animate-background-color-wobble .5s ease-in-out infinite alternate forwards,
  kf-animate-fade-in ease-out 3s;
}

.ring-marker {
  --border-radius: 10%;

  z-index: 1;
  pointer-events: none;
  position: absolute;
  border: 2px solid #fff;
  border-radius: var(--border-radius);

  filter: glow(10px);

  // ring reshapes between rounded square and circle
  --in-cubic-tf: cubic-bezier(0.55, 0.06, 0.68, 0.19); // In · Cubic
  animation: kf-animate-opacity-wobble 1.5s var(--in-cubic-tf) infinite alternate forwards,
  kf-animate-border-radius-wobble 1.5s var(--in-cubic-tf) infinite alternate forwards,
  kf-animate-fade-in ease-out 1s;
}

@keyframes kf-animate-opacity-wobble {
  from {opacity: 1}
  to {opacity: .5}
}

@keyframes kf-animate-border-radius-wobble {
  from {border-radius: var(--border-radius)}
  to {border-radius: calc(var(--border-radius) * 3)}
}

@keyframes kf-animate-fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes kf-animate-background-color-wobble {
  0% {background-color: #0004}
  50% {background-color: #7770}
  100% {background-color: #fff4}
}
