.title-layout {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 40px;
  align-items: start;

  cp-input-field {
    margin-top: -14px;
    justify-self: end;
  }
}

.faq-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 60px;

  mat-progress-bar {
    grid-column: 1/3;
    width: calc(100% - 80px);
    justify-self: center;
    margin: 40px;
  }

  .column {
    display: grid;
    grid-auto-rows: max-content;
    align-items: start;
    gap: 20px;
  }
}

.simple-explanation {
}

.advanced-explanation {

}

.image-layout {
  display: grid;
  justify-items: center;

  span {
    color: var(--color-text-muted);
    font-style: italic;
  }

  img {
    border-radius: 10px;
  }
}


.invisible-panel {
  box-shadow: unset !important;
  background: unset !important;
}

.ok-button {
  justify-self: end;
}
