<div class="zoom-indicator-layout stack"
     [class.transition-in]="show"
     [class.transition-out]="!show">

  <svg xmlns="http://www.w3.org/2000/svg">
    <line x1="0" y1="0" x2="100%" y2="0"
          stroke="#aff7"
          stroke-width="6"/>
    <rect class="move-smooth" [attr.x]="zoomPoint + '%'" y="-15" width="10" height="30" rx="2" fill="#fff"/>
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg">
    <defs>
      <radialGradient id="gradient-star">
        <stop offset="50%" stop-color="#fff999"/>
        <stop offset="100%" stop-color="#ffa333"/>
      </radialGradient>

      <linearGradient id="gradient-mars" gradientTransform="rotate(85)">
        <stop offset="10%" stop-color="#e6c99d"/>
        <stop offset="20%" stop-color="#eb7d56"/>
        <stop offset="80%" stop-color="#eb7d56"/>
        <stop offset="90%" stop-color="#e6c99d"/>
      </linearGradient>
    </defs>

    <g id="kerbol-system">
      <circle cx="0" cy="0" r="10" fill="url(#gradient-star)"/>
      <circle cx="0" cy="0" r="15" fill="#0000" stroke="#30f0f0" stroke-width="2"/>
      <circle cx="0" cy="0" r="22" fill="#0000" stroke="#56ae0e" stroke-width="2"/>
      <text x="0" y="35" fill="#fff" text-anchor="middle">Star</text>
    </g>

    <g id="planets">
      <circle [attr.cx]="positions.planets + '%'"
              cy="0"
              r="14"
              fill="url(#gradient-mars)"/>
      <text [attr.x]="positions.planets + '%'" y="30" fill="#fff" text-anchor="middle">Planets</text>
    </g>

    <g id="moons">
      <circle [attr.cx]="positions.moons + '%'"
              cy="0"
              r="10"
              fill="#A0A0B8"/>
      <circle [attr.cx]="positions.moons + '%'"
              style="translate: 4px -3px"
              cy="0"
              r="4"
              fill="#546"/>
      <text [attr.x]="positions.moons + '%'" y="25" fill="#fff" text-anchor="middle">Moons</text>
    </g>

    <rect x="100%" y="-10" width="5" height="20" rx="2" fill="#517979"/>
  </svg>

</div>
