.layout {
  &.transition-in {
    transition: .5s ease-out;
    opacity: .7;
  }

  &.transition-out {
    transition: 3s ease-in;
    opacity: 0;
  }

  height: 0;
  margin: 30px;

  svg {
    overflow: visible;
    width: 100%;
  }

  .move-smooth {
    transition: .2s linear;
  }
}
