<ng-container [ngSwitch]="type">
  <mat-checkbox *ngSwitchCase="'checkbox'"
                #checkbox
                [checked]="value"
                [color]="color"
                [indeterminate]="indeterminate"
                (change)="userInputChange($event.checked)">
    {{label}}
  </mat-checkbox>

  <mat-slide-toggle *ngSwitchCase="'switch'"
                    #switch
                    [checked]="value"
                    [color]="color"
                    (change)="userInputChange($event.checked)">
    {{label}}
  </mat-slide-toggle>

  <mat-hint [@animateFade] *ngIf="value === null && hint">{{hint}}</mat-hint>
</ng-container>

<cp-validation-message [fieldName]="label" [errors]="errors"></cp-validation-message>
