<div class="layout">

  <mat-menu classList="slider-popup"
            #popup="matMenu"
            yPosition="above">
    <mat-slider class="slider-control"
                color="primary"
                (input)="sliderChange($event.target.value)">
      <input matSliderThumb #slider>
    </mat-slider>
  </mat-menu>

  <cp-input-field #input
                  [matMenuTriggerFor]="popup"
                  #menuTrigger="matMenuTrigger"
                  class="no-spinner-arrows"
                  type="number"
                  [label]="label"
                  [hint]="hint"
                  [suffix]="suffix"
                  [errors]="errors"
                  (output)="inputChange($event)"
                  (formTouch)="onTouched && onTouched(true)">
  </cp-input-field>

</div>
