<div mat-dialog-content class="layout">
  <div class="text dialog-title">Upload Image</div>

  <mat-stepper
    orientation="horizontal"
    #stepper
    class="upload-image-dialog-component-stepper"
    linear
  >
    <mat-step label="Select">
      <ng-container *ngTemplateOutlet="selectFile"></ng-container>
    </mat-step>

    <mat-step label="Crop">
      <ng-container *ngTemplateOutlet="cropImage"></ng-container>
    </mat-step>

    <mat-step label="Confirm">
      <ng-container *ngTemplateOutlet="confirmImage"></ng-container>
    </mat-step>

  </mat-stepper>


  <ng-template #selectFile>
    <div class="file-drop"
         [matTooltip]="'Drag and drop an image file here'"
         cpFileDrop
         [fileTypeWhitelist]="['image/jpeg', 'image/png', 'image/bmp', 'image/webp']"
         (fileDrop)="importFile($event)">
      <mat-icon [svgIcon]="icons.Upload"></mat-icon>
      <button class="button-loader"
              mat-stroked-button
              color="primary"
              (click)="fileUploadInput.click()">
        Select File
        <mat-progress-bar [@fade]
                          *ngIf="buttonLoaders.import$ | async"
                          mode="indeterminate"></mat-progress-bar>
        <input #fileUploadInput
               [style.display]="'none'"
               type="file"
               [accept]="'image/jpeg, image/png, image/bmp, image/webp'"
               (change)="uploadFileSelected($event)">
      </button>
    </div>
  </ng-template>

  <ng-template #cropImage>
    <div class="cropper-layout">
      <image-cropper
        [imageBase64]="controlSelect.value"

        [resizeToWidth]="100"
        [resizeToHeight]="100"

        [roundCropper]="true"
        [imageQuality]="80"
        format="webp"
        output="base64"

        (imageCropped)="updateCrop($event)"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
  </ng-template>

  <ng-template #confirmImage>
    <img [src]="controlCrop.value" height="200" class="image-layout"/>
  </ng-template>

</div>

<div mat-dialog-actions>
  <ng-container [ngSwitch]="stepper.selectedIndex">

    <div *ngSwitchCase="0" class="justify-self-start">
      <button color="accent"
              mat-button
              [mat-dialog-close]="null">
        Cancel
      </button>
    </div>

    <div *ngSwitchCase="1" class="confirm-buttons-layout">
      <button color="accent"
              mat-button
              [mat-dialog-close]="null">
        Cancel
      </button>

      <button mat-button
              (click)="stepper.steps.get(0).select();">
        Back
      </button>

      <button color="primary"
              mat-stroked-button
              [disabled]="controlCrop.invalid"
              (click)="stepper.steps.get(2).select();">
        Next
      </button>
    </div>

    <div *ngSwitchCase="2" class="confirm-buttons-layout">
      <button color="accent"
              mat-button
              [mat-dialog-close]="null">
        Cancel
      </button>

      <button mat-button
              (click)="stepper.steps.get(1).select();">
        Back
      </button>

      <button color="primary"
              mat-stroked-button
              [disabled]="formArrayStepper.invalid"
              [mat-dialog-close]="controlCrop.value">
        Save
      </button>
    </div>
  </ng-container>

</div>
