<div class="text subtitle">{{title}}</div>

<div class="parts-listed">
  <cp-input-section-selection-list
    label="Add Part"
    [formControl]="controlSelectedParts"
    [options]="parts$ | async"
    [sectionIcons]="sectionIcons$ | async"
    ></cp-input-section-selection-list>

  <ng-container *ngIf="controlEntities$ | async as controlItems">

    <ng-container *ngIf="controlItems.length; else noSelection">
      <ng-container *ngFor="let entry of controlItems;
                   let i = index;
                   trackBy: getEntryLabel">
        <cp-input-number
          @expandY
          class="small-number-width"
          [label]="null"
          [formControl]="entry.control"
          [controlMeta]="defaultControlMeta"
        ></cp-input-number>

        <div @expandY>{{entry.value.label}}</div>

        <button
          @expandY
          class="dim-until-hover"
          mat-icon-button
          color="warn"
          (click)="removeControl(entry, i)"
        >
          <mat-icon [svgIcon]="icons.Delete"></mat-icon>
        </button>
      </ng-container>
    </ng-container>

    <ng-template #noSelection>
      <div @expandY class="text caption center empty-state">
        No parts selected
      </div>
    </ng-template>
  </ng-container>
</div>


