@use 'src/styles/common';

:host {
  @extend .titled-form;
}

.parts-listed {
  display: grid;
  grid-template-columns: max-content auto max-content;
  gap: 0 2ch;
  align-items: center;
  margin-bottom: 16px;

  >:first-child {
    grid-column: 1/-1;
  }

  cp-input-number {
    height: 50px;
  }
}

.empty-state {
  border-radius: 8px;
  background-color: var(--color-background-description-glass);
  padding: 40px 10px;
  grid-column: 1/-1;
}
