.celestial-body-details-form {
  .dialog-title {
    margin-bottom: 16px;
  }

  > cp-input-field-list {
  overflow: hidden;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  gap: 10px 40px;
}
}
