<div class="text subtitle">{{title}}</div>

<ng-container *ngIf="statistics?.results as results">
  <div class="craft-stats"
       @expandY
       *ngIf="results.length; else noResults">
    <ng-container *ngFor="let stat of results; trackBy: getLabel">
      <ng-container *ngIf="stat.type === 'excess' || stat.type === 'excess-reverse';
                          else displayOnly">
        <mat-icon [svgIcon]="stat.icon" color="none"></mat-icon>
        <div>{{stat.label}}</div>
        <cp-statistic-color-coded
          [low]="stat.consume"
          [high]="stat.produce"
          [reverseSentiment]="stat.type === 'excess-reverse'"
        ></cp-statistic-color-coded>
        <div>{{stat.measure}}</div>
      </ng-container>

      <ng-template #displayOnly>
        <mat-icon [svgIcon]="stat.icon" color="none"></mat-icon>
        <div>{{stat.label}}</div>
        <div class="value-display">{{stat.valueDisplay}}</div>
        <div>{{stat.measure}}</div>
      </ng-template>
    </ng-container>
  </div>
</ng-container>

<ng-template #noResults>
  <div @expandY class="text caption center empty-state">
    No statistics to display
  </div>
</ng-template>
