<svg class="transmission-line"
     xmlns="http://www.w3.org/2000/svg">
  <line [attr.stroke-width]="2"
        [attr.stroke]="transmissionLine.colorTotal + 'A'"
        [attr.x1]="worldViewScale * transmissionLine.nodes[0].location.x + transmissionLine.offsetVector.x + '%'"
        [attr.y1]="worldViewScale * transmissionLine.nodes[0].location.y + transmissionLine.offsetVector.y + '%'"
        [attr.x2]="worldViewScale * transmissionLine.nodes[1].location.x + transmissionLine.offsetVector.x + '%'"
        [attr.y2]="worldViewScale * transmissionLine.nodes[1].location.y + transmissionLine.offsetVector.y + '%'"
  />

<!--  <defs *ngIf="transmissionLine.strengthRelay">-->
<!--    <pattern [attr.id]="'pattern' + transmissionLine.id"-->
<!--             patternUnits="userSpaceOnUse"-->
<!--             width="10"-->
<!--             height="10"-->
<!--             [attr.patternTransform]="'rotate(' + (transmissionLine.angleDeg + 90) + ')'">-->
<!--      <line class="animate-data-travelling"-->
<!--            x1="0" y1="2.5" x2="10" y2="2.5"-->
<!--            [attr.stroke]="transmissionLine.colorRelay + 'A'"-->
<!--            stroke-width="5"></line>-->
<!--    </pattern>-->
<!--  </defs>-->

<!--  <line *ngIf="transmissionLine.strengthRelay"-->
<!--        [attr.stroke-width]="3"-->
<!--        [attr.stroke]="'url(#pattern' + transmissionLine.id + ')'"-->
<!--        [attr.x1]="scale * transmissionLine.nodes[0].location.x - transmissionLine.offsetVector.x"-->
<!--        [attr.y1]="scale * transmissionLine.nodes[0].location.y - transmissionLine.offsetVector.y"-->
<!--        [attr.x2]="scale * transmissionLine.nodes[1].location.x - transmissionLine.offsetVector.x"-->
<!--        [attr.y2]="scale * transmissionLine.nodes[1].location.y - transmissionLine.offsetVector.y"-->
<!--  />-->

  <foreignObject width="100%"
                 height="100%"
                 [attr.x]="scale * transmissionLine.textLocation.x - 30"
                 [attr.y]="scale * transmissionLine.textLocation.y - 10">
    <span xmlns="http://www.w3.org/1999/xhtml"
          [@fade]
          *ngIf="(transmissionLine.nodes[0].draggableHandle.isHover$ | async)
                  || (transmissionLine.nodes[1].draggableHandle.isHover$ | async)"
          class="distance-text">
      {{transmissionLine.strengthTotal * 100 | number : '.0-0'}}%
      &nbsp;
      {{transmissionLine.displayDistance}}
    </span>
  </foreignObject>
</svg>
