<svg class="transmission-line"
     xmlns="http://www.w3.org/2000/svg">
  <line [attr.stroke-width]="2"
        [attr.stroke]="transmissionLine.colorTotal + 'A'"
        [attr.x1]="scale * transmissionLine.nodes[0].location.x + transmissionLine.offsetVector.x"
        [attr.y1]="scale * transmissionLine.nodes[0].location.y + transmissionLine.offsetVector.y"
        [attr.x2]="scale * transmissionLine.nodes[1].location.x + transmissionLine.offsetVector.x"
        [attr.y2]="scale * transmissionLine.nodes[1].location.y + transmissionLine.offsetVector.y"
  />

  <line class="animate-data-travelling"
        *ngIf="transmissionLine.strengthRelay"
        [attr.stroke-width]="3"
        [attr.stroke-dasharray]="4"
        [attr.stroke]="transmissionLine.colorRelay + 'A'"
        [attr.x1]="scale * transmissionLine.nodes[0].location.x - transmissionLine.offsetVector.x"
        [attr.y1]="scale * transmissionLine.nodes[0].location.y - transmissionLine.offsetVector.y"
        [attr.x2]="scale * transmissionLine.nodes[1].location.x - transmissionLine.offsetVector.x"
        [attr.y2]="scale * transmissionLine.nodes[1].location.y - transmissionLine.offsetVector.y"
  />
</svg>
