mat-icon {
  margin: 0 !important;
}

.manage-state-layout {
  padding-top: 10px;
  min-width: 500px; // tabs leave ghost images of file-drop when changing

  .dialog-title {
    margin-bottom: 16px;
  }

  mat-tab-body {
    .mat-mdc-tab-body-content {
      overflow: hidden !important; // remove scrollbar
    }
  }

  mat-tab-header {
    margin-bottom: 10px;
  }
}

.archive-layout {
  display: grid;
  --gap: 20px;
  gap: var(--gap);
  grid-auto-flow: column;

  mat-error {
    position: absolute;
    z-index: 1;
    bottom: -34px;
    background: linear-gradient(0deg, transparent, white 50%);
    padding-bottom: 16px;
  }

  mat-selection-list {
    overflow-y: auto;
    max-height: 400px;
    margin-right: calc(-1 * var(--gap));

    mat-list-option {
      height: max-content !important;
    }
  }
}

.buttons-and-display-layout {
  display: grid;
  grid-template-rows: max-content;
  gap: 20px;
}

.current-state-layout {
  display: grid;
  grid-auto-flow: column;
  gap: 80px;

  .name-row-layout {
    display: grid;
    grid-auto-flow: column;
    align-items: baseline;
    gap: 20px;
  }

  .import-and-new-state {
    display: grid;
    gap: 10px;
    justify-items: end;
    grid-auto-rows: max-content;
  }
}

.save-game-action-buttons-layout {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  justify-content: end;
  gap: 10px;

  mat-icon {
    color: var(--color-text-muted);
  }
}

// todo: this is duplicated at upload-image
.file-drop {
  border: 2px dotted var(--color-border-simple);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;

  display: grid;
  justify-items: center;
  gap: 10px;

  mat-icon {
    color: var(--color-text-muted);
  }
}

.empty-state-archive {
  padding: 20px 0;
  display: grid;
  justify-items: center;

  mat-icon {
    color: var(--color-text-muted);
    margin-bottom: 10px;
    font-size: 4em;
    height: unset;
    width: unset;
  }
}

.button-loader {
  position: relative;

  mat-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.link {
  justify-self: end;
  text-decoration: none;
  color: var(--color-text-hyperlink);

  min-width: 0;
  border-radius: 10px;
  padding: 0 4px;
  margin: 0;
  line-height: unset;
  font-weight: 400;
  font-size: 1em;
}

@media screen and (max-width: 700px) {
  .manage-state-layout {
    min-width: unset;

    .current-state-layout {
      grid-auto-flow: row;
      gap: 10px;

      .import-and-new-state {
        justify-self: center;
      }
    }

    .archive-layout {
      grid-auto-flow: row;

      mat-selection-list {
        grid-row: 2;
      }
    }
  }
}

// landscape mobile cuts off the dialog action buttons
@media screen and (max-height: 500px) {
  .manage-state-layout {
    box-shadow: inset 0 0 6px 2px #0002;
  }
}
