:host {
  color: white;

  //border: .1px solid #fff2;
  //border-radius: 7%;

  text-align: center;
  justify-self: center;
  width: 100%;
}

.title-layout {
  //display: grid;
  //grid-template-columns: auto max-content;
  align-items: center;

  button {
    min-width: unset;
    padding: unset;
    justify-self: end;
  }
}

.destination {
  font-size: 1.5em;
}

.situation {
  color: #fffc;
  font-weight: 200;
}
