:host {
  pointer-events: none;
}

.requires-pointer {
  pointer-events: auto;
}

.handset-layout {
  height: 100%;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  > .page-profile-section {
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: start;
    justify-self: end;
    margin: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    > cp-user-profile,
    > mat-icon {
      @extend .requires-pointer;
    }
  }

  > .fab-buttons {
    margin-bottom: 10px;
    margin-right: 4px;

    grid-column: 3/4;
    grid-row: 3/4;
    align-self: end;
    justify-self: end;

    display: flex;
    gap: 8px;
  }

  .top {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
    height: max-content;
    margin-inline: 8px 70px;
  }

  .left {
    grid-column: 1/2;
    grid-row: 1/-1;
    align-self: center;
  }

  .right {
    grid-column: -2/-1;
    grid-row: 1/-1;
    align-self: center;
    justify-self: end;
  }

  .bottom-left {
    grid-column: 1/2;
    grid-row: -2/-1;
    align-self: end;
    height: max-content;
  }
}

.desktop-layout {
  height: 100%;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  cp-action-panel {
    width: max-content;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .top,
  .right,
  .left {
    z-index: 1;
  }

  .top-left {
    grid-column: 1/2;
    grid-row: 1/2;
    height: max-content;
  }

  .top-right {
    grid-column: -2/-1;
    grid-row: 1/2;
    justify-self: end;
    height: max-content;
  }

  .top {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    height: max-content;
  }

  .left {
    grid-column: 1/2;
    grid-row: 1/-1;
    align-self: center;
  }

  .right {
    grid-column: -2/-1;
    grid-row: 1/-1;
    align-self: center;
    justify-self: end;
  }

  .bottom-left {
    grid-column: 1/2;
    grid-row: -2/-1;
    align-self: end;
    height: max-content;
  }
}
