<div *ngIf="isHandset$ | async; else desktopScreen"
     class="handset-layout">

  <ng-container *ngTemplateOutlet="pageContext"></ng-container>
  <ng-container *ngTemplateOutlet="profile"></ng-container>
  <ng-container *ngTemplateOutlet="zoom"></ng-container>
  <ng-container *ngTemplateOutlet="focus"></ng-container>
  <ng-container *ngTemplateOutlet="dv"></ng-container>

  <div class="fab-buttons">
    <cp-action-fab color="green"
                   tooltip="General"
                   [icon]="icons.Home"
                   [actionGroupType]="actionGroupTypes.General"
                   [options]="navigationOptions"
                   (activate)="openBottomSheet($event.group, $event.callback)"></cp-action-fab>


    <cp-action-fab color="cosmic-blue"
                   tooltip="Information"
                   [icon]="icons.Info"
                   [actionGroupType]="actionGroupTypes.Information"
                   [options]="infoOptions"
                   (activate)="openBottomSheet($event.group, $event.callback)"></cp-action-fab>


    <cp-action-fab *ngIf="contextPanel$ | async as details"
                   id="context-fab"
                   color="orange"
                   [tooltip]="details.startTitle"
                   [icon]="icons.Edit"
                   [actionGroupType]="actionGroupTypes.Context"
                   [options]="details.options"
                   (activate)="openBottomSheet($event.group, $event.callback)"></cp-action-fab>
  </div>
</div>

<ng-template #desktopScreen>
  <div class="hud-layout">

    <cp-action-panel class="navigation"
                     startTitle="KSP Visual Calculator"
                     [options]="navigationOptions"></cp-action-panel>

    <ng-container *ngTemplateOutlet="pageContext"></ng-container>

    <cp-action-panel class="information"
                     startTitle="Information"
                     location="top-right"
                     color="cosmic-blue"
                     [options]="infoOptions">
      <ng-container *ngTemplateOutlet="profile"></ng-container>
    </cp-action-panel>

    <ng-container *ngTemplateOutlet="zoom"></ng-container>
    <ng-container *ngTemplateOutlet="focus"></ng-container>
    <ng-container *ngTemplateOutlet="dv"></ng-container>
    <cp-action-panel class="menu-context"
                     id="context-panel"
                     *ngIf="contextPanel$ | async as details"
                     [startTitle]="details.startTitle"
                     location="bottom-left"
                     [color]="details.color || 'orange'"
                     [startIcon]="details.startIcon || 'menu_open'"
                     [options]="details.options">
    </cp-action-panel>

  </div>
</ng-template>

<ng-template #profile>
  <cp-user-profile class="profile"></cp-user-profile>
</ng-template>

<ng-template #pageContext>
  <div class="page-context">
    <div class="page-icon">
      <mat-icon [matTooltip]="pageContextInfo?.tooltip"
                color="primary"
                [svgIcon]="pageContextInfo?.icon"></mat-icon>
    </div>

    <button mat-icon-button
            color="accent"
            [matTooltip]="'Open the wiki'"
            (click)="openFaq()">
      <mat-icon [svgIcon]="icons.Help"></mat-icon>
    </button>

    <button class="theme-icon"
            mat-icon-button
            [matTooltip]="'Toggle theme'"
            (click)="toggleTheme()">
      <mat-icon [svgIcon]="themeIconMap[lastTheme]"></mat-icon>
    </button>

    <button *ngIf="hasBoughtCoffee$ | async | not"
            [@fade]
            class="buy-me-a-coffee"
            mat-icon-button
            [matTooltip]="'Support the developer'"
            (click)="openBuyMeACoffee()">
      <mat-icon [svgIcon]="icons.Gift"></mat-icon>
      <span matBadge="!" matBadgeColor="warn"></span>
    </button>
  </div>
</ng-template>

<ng-template #zoom>
  <cp-zoom-indicator class="zoom no-mouse"></cp-zoom-indicator>
</ng-template>

<ng-template #focus>
  <cp-focus-jump-to-panel class="focus"></cp-focus-jump-to-panel>
</ng-template>

<ng-template #dv>
  <cp-maneuver-sequence-panel class="dv" *ngIf="(context$ | async) === contextTypes.DvPlanner">
  </cp-maneuver-sequence-panel>
</ng-template>
