<div *ngIf="isHandset$ | async; else desktopScreen"
     class="handset-layout">

  <ng-container *ngTemplateOutlet="pageIcon"></ng-container>
  <ng-container *ngTemplateOutlet="pageContext"></ng-container>
  <ng-container *ngTemplateOutlet="profile"></ng-container>
  <ng-container *ngTemplateOutlet="top"></ng-container>
  <ng-container *ngTemplateOutlet="left"></ng-container>
  <ng-container *ngTemplateOutlet="right"></ng-container>

  <div class="fab-buttons">
    <cp-action-fab color="green"
                   tooltip="General"
                   [icon]="icons.Home"
                   [actionGroupType]="actionGroupTypes.General"
                   [options]="navigationOptions"
                   (activate)="openBottomSheet($event.group, $event.callback)"></cp-action-fab>


    <cp-action-fab color="cosmic-blue"
                   tooltip="Information"
                   [icon]="icons.Info"
                   [actionGroupType]="actionGroupTypes.Information"
                   [options]="infoOptions"
                   (activate)="openBottomSheet($event.group, $event.callback)"></cp-action-fab>

    <cp-action-fab *ngIf="contextPanelDetails as details"
                   id="context-fab"
                   color="orange"
                   [tooltip]="details.startTitle"
                   [icon]="icons.Edit"
                   [actionGroupType]="actionGroupTypes.Context"
                   [options]="details.options"
                   (activate)="openBottomSheet($event.group, $event.callback)"></cp-action-fab>
  </div>
</div>

<ng-template #desktopScreen>
  <div class="hud-layout">
    <ng-container *ngTemplateOutlet="left"></ng-container>
    <ng-container *ngTemplateOutlet="right"></ng-container>
    <ng-container *ngTemplateOutlet="top"></ng-container>

    <cp-action-panel class="top-left requires-pointer"
                     label="KSP Visual Calculator"
                     location="top-left"
                     color="green"
                     [options]="navigationOptions">
      <ng-container *ngTemplateOutlet="pageIcon"></ng-container>
    </cp-action-panel>

    <cp-action-panel class="top-right requires-pointer"
                     label="Information"
                     location="top-right"
                     color="cosmic-blue"
                     [options]="infoOptions">
      <ng-container *ngTemplateOutlet="profile"></ng-container>
    </cp-action-panel>

    <cp-action-panel class="bottom-left requires-pointer"
                     id="context-panel"
                     *ngIf="contextPanelDetails as details"
                     [label]="details.startTitle"
                     location="bottom-left"
                     [color]="details.color || 'orange'"
                     [icon]="details.startIcon || 'menu_open'"
                     [options]="details.options">
    </cp-action-panel>

  </div>
</ng-template>

<ng-template #profile>
  <cp-user-profile class="profile"></cp-user-profile>
</ng-template>

<ng-template #pageIcon>
  <div class="page-icon">
    <mat-icon [matTooltip]="tooltip"
              color="mute"
              [svgIcon]="icon"></mat-icon>
  </div>
</ng-template>

<ng-template #pageContext>
  <div class="page-context">
    <button class="theme-icon"
            mat-icon-button
            [matTooltip]="'Toggle theme'"
            (click)="toggleTheme()">
      <mat-icon [svgIcon]="themeIconMap[lastTheme]"></mat-icon>
    </button>

    <button *ngIf="hasBoughtCoffee$ | async | not"
            [@fade]
            class="buy-me-a-coffee"
            mat-icon-button
            [matTooltip]="'Support the developer'"
            (click)="openBuyMeACoffee()">
      <mat-icon [svgIcon]="icons.Gift"></mat-icon>
      <span matBadge="!" matBadgeColor="warn"></span>
    </button>
  </div>
</ng-template>


<ng-template #top>
  <div class="top">
    <ng-content select="[top]"></ng-content>
  </div>
</ng-template>

<ng-template #left>
  <div class="left">
    <ng-content select="[left]"></ng-content>
  </div>
</ng-template>

<ng-template #right>
  <div class="right">
    <ng-content select="[right]"></ng-content>
  </div>
</ng-template>

<ng-template #bottomLeft>
  <div class="bottom-left">
    <ng-content select="[bottom-left]"></ng-content>
  </div>
</ng-template>
