name: CI

on:
  push:
    branches:
      - main

jobs:
  firebase-deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@master
        with:
          node-version: '10.x'
      - run: npm install
      - run: npm run build --prod

      - uses: w9jds/firebase-action@master
        with:
          args: deploy --project ksp-commnet-planner --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
